<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid-theme.min.css">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataSource 6</h3>
                        <button type="button" class="btn btn-default" onclick="getDataSource()"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="card-body">
                        <div id="jsGrid1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">상세 내용</h3>
                        <button type="button" class="btn btn-default"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-default"><i class="fas fa-save"></i></button>
                        <button type="button" class="btn btn-default"><i class="fas fa-trash"></i></button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>DataSource 명</label>
                                    <input type="text" class="form-control rounded-0" id="dataSourceName" placeholder="" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>화면 노출명</label>
                                    <input type="text" class="form-control rounded-0" id="displayName" placeholder="" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="../../plugins/jsgrid/jsgrid.min.js"></script>
    <script src="../../dist/js/adminlte.js"></script>
    <script>
        initLoadingBar();

        $(function () {
            let fields = [
                {name: "id", title:"ID", type: "number", width: 50 },
                {name: "dataSourceName", title:"dataSource 명", type: "text", width: 150 },
                {name: "displayName", title:"화면노출명", type: "text", width: 200 },
                {name: "note", title:"비고", type: "text", width: 300 }
            ];

            initGrid('jsGrid1', fields);
        });

        function getDataSource() {
            getApi({
                url:"/console/api/dataSource",
                success:function(response){
                    setGridData('jsGrid1', response);
                },
                error:function(error){
                    alert('error');
                }
            });
        }

      function getApi(_params) {
        $.ajax({
          type: "GET",
          url: _params.url,
          data: {},
          beforeSend: function() {
            showLoadingBar(true);
          },
          success: function(response) {
            _params.success(response);
          },
          error: function(error) {
            _params.error(error);
          },
          complete: function() {
            showLoadingBar(false);
          }
        });
      }

      function showLoadingBar(_show) {
        let display = (_show) ? 'block' : 'none';

        $("#loading-bar").css('display',display);
      }

      function initLoadingBar() {
          document.write('<div id="loading-bar" class="spinner-border text-primary" role="status" style="display:none;position: fixed;top: calc(50% - (58px / 2));right: calc(50% - (58px / 2));">');
          document.write('  <span class="sr-only" >Loading...</span>');
          document.write('</div>');
      }

      function initGrid(_id, _fields) {
        $("#" + _id).jsGrid({
            height: "500px",
            width: "100%",
            sorting: true,
            paging: true,
            inserting: false,
            editing: true,
            fields: _fields,
            data: [],
            rowClick: function(args) {
                selectedContent(args.item);
            }
        });
      }

      function selectedContent(item) {
        getApi({
            url:"/console/api/dataSource/"+item.id,
            success:function(response){
                $("#dataSourceName").val(response[0].dataSourceName);
                $("#displayName").val(response[0].displayName);
            },
            error:function(error){
                alert('error');
            }
        });
      }

      function setGridData(_id, _data) {
          $("#" + _id).jsGrid("option", "data", _data);
      }
    </script>
</body>
</html>