<html xmlns:th="http://www.thymeleaf.org">
<style th:fragment="style">
</style>
<script th:fragment="script">
        let P_OBJECT_CODE;
        $( document ).ready(function() {
            console.log('version.0.0.1');
            init();

            $('#type').on('change', function () {
                setActionGrid($('#type').val());
            });
        });

        function setActionGrid(type) {
            VB.builder.actionPanel.setOptionPanel($("#actionContentGrid"), type);
        }

        function init() {
            var codes = {
                "ActionType":[
                    {code:"",name:""},
                    {code:"WORKFLOW",name:"워크플로우"},
                    {code:"SCRIPT",name:"Script"}
                ]
            };

            setCodes(codes);

            grid.initSheet('jsGrid1', "100%","500px",
            [
                {name: "id", title:"ID", type: "number", width: 50, hidden:true, editing: false, inserting: false},
                {name: "actionName", title:"Action", type: "text", width: 150 },
                {name: "displayName", title:"명칭", type: "text", width: 200 }
            ],
            function(args) {
                selectedContent(args.item);
            });

            App.modalPopup.receiveParam('ACTION_REQUEST', function(data){
                if(!data.objectCode) {
                    alert('오브젝트코드가 존재하지않습니다.');
                }

                P_OBJECT_CODE = data.objectCode;
                getList();
            });
        }

        function setCodes(codes) {
            App.util.setCodeBox("type", codes["ActionType"]);
        }

        function getList() {
            httpClient.get(`/console/api/action`, {objectCode:P_OBJECT_CODE},
                function(response){
                    grid.setSheetData('jsGrid1', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function selectedContent(item) {
            httpClient.get(`/console/api/action/${item.id}`, {},
                function(response){
                    setActionGrid(response.type);
                    setContent(response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function save() {
            httpClient.post(`/console/api/action/upsert`,{},getContent(),
                function(response){
                    alert("저장완료되었습니다.");
                    getList();
                },
                function(error){
                    alert('error');
                }
            );
        }

        function deleteContent() {
          let id = $("#id").val();

          httpClient.delete(`/console/api/action/${id}`, {},
              function(response){
                  alert("삭제 처리 완료되었습니다.");
                  getList();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function resolveEmpty(v) {
            if(!v || v == '') return null;
            else return v;
        }

        function getContent() {
            const type = $("#type").val();

            let data = {
                id: resolveEmpty($("#id").val()),
                objectCode: resolveEmpty(P_OBJECT_CODE),
                actionName: resolveEmpty($("#actionName").val()),
                displayName: resolveEmpty($("#displayName").val()),
                type: resolveEmpty(type),
                argsName: resolveEmpty($("#argsName").val())
            }

            if(type == 'SCRIPT') {
                const scriptData = VB.builder.actionPanel.getOptions(type);
                data.script = (scriptData) ? scriptData.script : '';
            }
            else {
                data.contents = JSON.stringify(VB.builder.actionPanel.getOptions(type));
            }

            return data;
        }

        function setContent(params) {
            $("#id").val(params.id);
            $("#objectCode").val(params.objectCode);
            $("#actionName").val(params.actionName);
            $("#displayName").val(params.displayName);
            $("#type").val(params.type);
            $("#argsName").val(params.argsName);

            if(params.type == 'SCRIPT') {
                VB.builder.actionPanel.setOptions(params.type, {script:params.script});
            }
            else {
                VB.builder.actionPanel.setOptions(params.type, (params.contents) ? JSON.parse(params.contents) : {});
            }
        }

        function newContent(){
            setActionGrid('WORKFLOW');

            setContent({
                id:'',
                objectCode:P_OBJECT_CODE,
                actionName:'',
                displayName:'',
                type:'WORKFLOW',
                argsName:'',
                script:'',
                content:{}
            });
        }

        function openPopupWorkflow() {
            App.popup.open('/console/workflow-builder',{title:'워크플로우 팝업'});
        }

        function apply() {
            let params = {
                actionName: $("#actionName").val()
            };

            App.modalPopup.sendParamToParent(params);
            App.modalPopup.close();
        }
    </script>
    <div th:fragment="view">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Action</h3>
                        <div class="card-tools">
                            <mf-action-button id="apply" actionName="apply()" icon="" label="선택"></mf-action-button>
                            <mf-action-button id="search" actionName="getList()" icon="fas fa-search"></mf-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="jsGrid1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">상세 내용</h3>
                        <div class="card-tools">
                            <mf-action-button id="new" actionName="newContent()" icon="fas fa-plus"></mf-action-button>
                            <mf-action-button id="save" actionName="save()" icon="fas fa-save"></mf-action-button>
                            <mf-action-button id="delete" actionName="deleteContent()" icon="fas fa-trash"></mf-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1 d-none">
                                <mf-text-input id="id" label="ID" enable="false" ></mf-text-input>
                                <mf-text-input id="objectCode" label="오브젝트코드" enable="false" ></mf-text-input>
                            </div>
                            <div class="col-md-6">
                                <mf-text-input id="actionName" label="Action 명" enable="true"></mf-text-input>
                            </div>
                            <div class="col-md-6">
                                <mf-text-input id="displayName" label="화면노출명" enable="true" ></mf-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <mf-select id="type" label="유형" enable="true" useFirstItem="true" firstItemLabel="" firstItemValue=""></mf-select>
                            </div>
                            <div class="col-md-5">
                                <mf-text-input id="argsName" label="argument" enable="true" ></mf-text-input>
                            </div>
                        </div>
                    </div>

                    <div class="card-header">
                        <h3 class="card-title">옵션 패널</h3>
                    </div>

                    <div id="actionContentGrid">
                    </div>
                </div>
            </div>
        </div>

        <script type="module" src="/ui/view-builder/builder/app-tool.js"></script>
    </div>
</html>