<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="/plugins/jsgrid/jsgrid-theme.min.css">
    <link rel="stylesheet" href="/plugins/jquery-flowchart/jquery.flowchart.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/codemirror/codemirror.css">
    <link rel="stylesheet" href="/plugins/codemirror/theme/darcula.css">
    <link rel="stylesheet" href="/plugins/jstree/themes/default/style.min.css" />
    <style>
        .flowchart-example-container {
            width: 800px;
            height: 400px;
            background: white;
            border: 1px solid #BBB;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="content-wrapper">
    <div th:replace="~{${contentPath}::view}"></div>
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/plugins/jquery-flowchart/jquery.flowchart.js"></script>
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/plugins/jsgrid/jsgrid.min.js"></script>
<script src="/plugins/codemirror/codemirror.js"></script>
<script src="/plugins/codemirror/mode/sql/sql.js"></script>
<script src="/plugins/codemirror/mode/javascript/javascript.js"></script>
<script src="/plugins/jstree/jstree.min.js"></script>
<script src="/dist/js/adminlte.js?v=1"></script>
<script src="/core/common.js"></script>
<script src="/core/httpclient.js"></script>
<script src="/core/sheet.js"></script>
<script>
    const sheet = new Sheet();
    const httpClient = new HttpClient();
    _initLoadingBar();
</script>
<script th:replace="~{/console/contents/components}"></script>
<script th:replace="~{${contentPath}::script}"></script>
</body>
</html>