<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<style th:fragment="style">
</style>
<script th:fragment="script">
        $( document ).ready(function() {
            console.log('version.0.0.1');
            init();
        });

        function init() {

            sheet.initSheet('jsGrid1', "100%","500px",
            [
                {name: "id", title:"사용자ID", type: "number", width: 50, editing: false, inserting: false},
                {name: "loginId", title:"로그인ID", type: "text", width: 100 },
                {name: "userName", title:"성명", type: "text", width: 100 }
            ],
            function(args) {
                selectedContent(args.item);
            });

            getList();
        }

        function getList() {
            httpClient.get(`/console/api/user`, {},
                function(response){
                    sheet.setSheetData('jsGrid1', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function selectedContent(item) {
            httpClient.get(`/console/api/user/${item.id}`, {},
                function(response){
                    setContentData(response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function isEmpty(v) {
            return (v == undefined || v == null || v == '');
        }

        function save() {
            let id = $("#id").val();

            if(isEmpty(id))
                insertContent();
            else
                updateContent(id);
        }

        function insertContent() {
            httpClient.post(`/console/api/user`,{},getContent(),
                function(response){
                    alert("저장완료되었습니다.");
                    getList();
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateContent(id) {
          httpClient.put(`/console/api/user/${id}`, {}, getContent(),
              function(response){
                  alert("저장완료되었습니다.");
                  getList();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteContent() {
          let id = $("#id").val();

          httpClient.delete(`/console/api/user/${id}`, {},
              function(response){
                  alert("삭제 처리 완료되었습니다.");
                  getList();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function setContentData(response) {
            setContent({
                id:response.id,
                loginId:response.loginId,
                userName:response.userName,
                email:response.email
              });
        }

        function getContent() {
            return {
                id: $("#id").val(),
                loginId: $("#loginId").val(),
                userName: $("#userName").val(),
                email: $("#email").val()
            }
        }

        function setContent(params) {
            $("#id").val(params.id);
            $("#loginId").val(params.loginId);
            $("#userName").val(params.userName);
            $("#email").val(params.email);
          }
    </script>
<div th:fragment="view">
    <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User</h3>
                        <div class="card-tools">
                            <mf-action-button id="search" actionName="getList()" icon="fas fa-search"></mf-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="jsGrid1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">상세 내용</h3>
                        <div class="card-tools">
                            <mf-action-button id="save" actionName="save()" icon="fas fa-save"></mf-action-button>
                            <mf-action-button id="delete" actionName="deleteContent()" icon="fas fa-trash"></mf-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <mf-text-input id="id" label="ID" enable="false"></mf-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mf-text-input id="loginId" label="로그인ID" enable="true"></mf-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mf-text-input id="userName" label="성명" enable="true" ></mf-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <mf-text-input id="email" label="email" enable="true"></mf-text-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>