<html xmlns:th="http://www.thymeleaf.org">
<style th:fragment="style">
</style>
<div th:fragment="view">
    <div id="app-container" style="margin:0; display:flex; height:100vh; font-family:Arial, sans-serif;">
        <div id="left-panel">
            <h4>오브젝트 설정</h4>
            <div class="input-group col-12">
                <input type="text" class="form-control rounded-0" id="objectCode" placeholder="오브젝트코드" spellcheck="false" autocomplete="off" data-watch="true" >
                <span class="input-group-append">
                    <button type="button" class="btn btn-default btn-flat" onclick="openPopupObject()">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-sm form-control" onclick="load()">
                    <i class="fas fa-download"></i>불러오기
                </button>
            </div>
            <div class="form-group col-12">
                <button type="button" class="btn btn-default btn-sm form-control" onclick="openPopupMenu()">
                    메뉴등록
                </button>
            </div>

            <h4>컴포넌트</h4>
            <div id="component-panel" >
                <div class="component-row">
                    <div class="component-item" data-type="component-card" >
                        <img src="/dist/img/com-card.png" width="60" height="50" >
                        <div>Card</div>
                    </div>
                </div>
                <div class="component-row">
                    <div class="component-item" data-type="component-form">
                        <img src="/dist/img/com-form.png" width="60" height="50" >
                        <div>Form</div>
                    </div>
                    <div class="component-item" data-type="component-grid">
                        <img src="/dist/img/com-grid.png" width="60" height="50" >
                        <div>Grid</div>
                    </div>
                </div>
                <div class="component-row">
                    <div class="component-item" data-type="component-button">
                        <img src="/dist/img/com-button.png" width="60" height="50" >
                        <div>Button</div>
                    </div>
                    <div class="component-item" data-type="component-input">
                        <img src="/dist/img/com-input.png" width="60" height="50" >
                        <div>Input</div>
                    </div>
                </div>
                <div class="component-row">
                    <div class="component-item" data-type="component-custom-html">
                        <img src="/dist/img/com-html.png" width="60" height="50" >
                        <div>Html</div>
                    </div>
                </div>
            </div>
        </div>


        <div id="center-panel">
            <div class="drop-area" id="canvas"></div>
        </div>


        <div id="right-panel">
            <div class="form-group col-12">
                <button type="button" class="btn btn-default btn-sm" onclick="openPopupAction()">
                    <i class="fas fa-layer-group"></i>Action 등록
                </button>
                <button type="button" class="btn btn-default btn-sm" onclick="preview()">
                    <i class="fas fa-eye"></i>미리보기
                </button>
                <button type="button" class="btn btn-default btn-sm" onclick="save()">
                    <i class="fas fa-save"></i>저장
                </button>
                <button type="button" class="btn btn-default btn-sm" onclick="reload()">
                    <i class="fas fa-redo-alt"></i>화면초기화
                </button>
            </div>
            <h4>옵션</h4>
            <div id="options">
                컴포넌트를 선택하세요
            </div>
        </div>
    </div>

    <script type="module" src="/ui/view-builder/builder/app.js"></script>
</div>
<script th:fragment="script">
    $( document ).ready(function() {
        App.modalPopup.receiveParam('OBJECT_RESULT',function(data){
            if(data.objectCode) {
                $("#objectCode").val(data.objectCode);
            }
        });
    });

    function openPopupMenu() {
        App.modalPopup.open('/console/menu',{title:'메뉴 팝업',messageId:'MENU_REQUEST'});
    }

    function openPopupObject() {
        App.modalPopup.open('/console/view-object',{title:'오브젝트 팝업',messageId:'OBJECT_REQUEST'});
    }

    function openPopupAction() {
        let objectCode = $("#objectCode").val();
        if(!objectCode) {
            alert('오브젝트를 입력해주세요');
            return;
        }

        App.modalPopup.open('/console/action',{title:'Action 팝업',messageId:'ACTION_REQUEST'},{objectCode:objectCode});
    }

    function save() {
        const json = VB.builder.getViewData();

        const objectCode = $("#objectCode").val();

        if(!objectCode) {
            alert("오브젝트 코드를 입력해주세요.");
            return;
        }

        App.httpClient.post(`/console/api/object-content/upsert`,{},{
                objectCode:objectCode,
                content:JSON.stringify(json, null, 2)
            },
            function(response){
                alert("저장에성공하였습니다.");
            },
            function(error){
                alert("에러가 발생되었습니다.");
            }
        );
    }

    function load() {
        const objectCode = $("#objectCode").val();

        if(!objectCode) {
            alert("오브젝트 코드를 입력해주세요.");
            return;
        }

        App.httpClient.get(`/console/api/object-content`,{objectCode:objectCode},
            function(response){
                if(response[0]) {
                    loadEditor(JSON.parse(response[0].content));
                }
                else {
                    alert('오브젝트가 존재하지않아 빈화면으로 셋팅됩니다.\n오브젝트를 생성 후 작업을 진행해주세요.');
                    loadEditor([]);
                }
            },
            function(error){
                alert("에러가 발생되었습니다.");
            }
        );
    }

    function loadEditor(data) {
        VB.builder.loadEditor(data);
    }

    function preview() {
        VB.builder.preview();
    }

    function reload() {
        location.reload();
    }
</script>
