<html xmlns:th="http://www.thymeleaf.org">
<style th:fragment="style">
</style>
<script th:fragment="script">
    App.codes = {
        "YN_CD":[
            {code:"true",name:"Y"},
            {code:"false",name:"N"}
        ],
        "METHOD":[
            {code:"GET",name:"GET"},
            {code:"POST",name:"POST"},
            {code:"PUT",name:"PUT"},
            {code:"DELETE",name:"DELETE"}
        ],
        "CONTENT_TYPE":[
            {code:"APPLICATION_JSON",name:"application/json"},
            {code:"APPLICATION_FORM_URLENCODED",name:"application/x-www-form-urlencoded"},
            {code:"TEXT_PLAIN",name:"text/plain"}
        ],
        "BODY_MESSAGE_FORMAT":[
            {code:"ARRAY",name:"Array"},
            {code:"OBJECT",name:"Object"}
        ],
        "REST_DATA_TYPE":[
            {code:"STRING",name:"String"},
            {code:"NUMBER",name:"Number"},
            {code:"BOOLEAN",name:"Boolean"},
            {code:"OBJECT",name:"Object"},
            {code:"ARRAY",name:"Array"}
        ],
        "VALUE_TYPE":[
            {code:"PARAM_VALUE",name:"파라미터값"},
            {code:"INPUT_VALUE",name:"입력값"},
            {code:"SESSION_USER_ID",name:"세션 유저 ID"}
        ]
    };

    let codes;
    let sqlEditor;
    let functionName;

    $( document ).ready(function() {
        init();
    });

    function init() {
        setDatSourceAsRestServer();

        App.modalPopup.receiveParam('FUNC_REQUEST', function(data){
            if(!data.functionName) {
                alert('기능코드가 존재하지않습니다.');
            }

            functionName = data.functionName;
            getRestClient(functionName)
        });
    }

    function setDatSourceAsRestServer() {
        httpClient.get(`/console/api/datasource/rest-server`, {},
            function(response){
                let codes = new Array();
                for(let i=0; i<response.length; i++) {
                    codes.push({code:response[i].dataSourceName,name:response[i].displayName});
                }

                 App.util.setCodeBox("rest-client-dataSourceName", codes);
            },
            function(error){
                alert('error');
            }
        );
    }

    function execute() {
        let executeType = $("#executeType").val();
        let executeTarget = $("#executeTarget").val();
        let requestMessageId = $("#requestMessageId").val();

        let contents = {};
        let gridData = sheet.getSheetData("executeGrid");
        console.log('gridData',gridData);
        for(let i=0; i<gridData.length; i++) {
            let value = gridData[i]["value"];
            if(value == "null") {
                contents[gridData[i]["key"]] = null;
            }
            else {
                contents[gridData[i]["key"]] = value;
            }
        }

        httpClient.get(`/console/api/query/${executeTarget}/execute`,contents,
            function(response){
                $("#responseData").val(JSON.stringify(response,null,3));
            },
            function(error){
                $("#responseData").val(JSON.stringify(error.responseJSON,null,3));
            }
        );

    }

        function getRestClient(clientName) {
            httpClient.get(`/console/api/rest-client`, {clientName:clientName},
                function(response){
                    if(response[0]) {
                        setRestClientContent(response[0]);
                        getRestClientQueryParam(response[0].id);
                        getRestClientHeader(response[0].id);
                        getRestClientBody(response[0].id);
                    }
                    else {
                        newRestClientContent(clientName);
                    }
                },
                function(error){
                    alert('error');
                }
            );
        }

        function getRestClientContent() {
            return {
                id: $("#rest-client-id").val(),
                clientName: $("#rest-client-clientName").val(),
                displayName: $("#rest-client-displayName").val(),
                dataSourceName: $("#rest-client-dataSourceName").val(),
                method: $("#rest-client-method").val(),
                path: $("#rest-client-path").val(),
                contentType: $("#rest-client-contentType").val(),
                bodyMessageFormat: $("#rest-client-bodyMessageFormat").val()
            }
        }

        function setRestClientContent(params) {
            $("#rest-client-id").val(params.id);
            $("#rest-client-clientName").val(params.clientName);
            $("#rest-client-displayName").val(params.displayName);
            $("#rest-client-dataSourceName").val(params.dataSourceName);
            $("#rest-client-method").val(params.method);
            $("#rest-client-path").val(params.path);
            $("#rest-client-contentType").val(params.contentType);
            $("#rest-client-bodyMessageFormat").val(params.bodyMessageFormat);
          }

          function newRestClientContent(clientName){
            setRestClientContent({
                id:'',
                clientName:clientName,
                displayName:'',
                dataSourceName:'',
                method:'',
                path:'',
                contentType:'',
                bodyMessageFormat:''
                });
          }

          function saveRestClient() {
            let id = $('#rest-client-id').val();
            if(id) {
                updateRestClient(id);
            }
            else {
                insertRestClient();
            }
          }

        function insertRestClient() {
            httpClient.post(`/console/api/rest-client`,{},getRestClientContent(),
                function(response){
                    alert("저장완료되었습니다.");
                    getRestClient();
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateRestClient(id) {
          httpClient.put(`/console/api/rest-client/${id}`, {}, getRestClientContent(),
              function(response){
                  alert("저장완료되었습니다.");
                  getRestClient();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteRestClient() {
          let id = $("#rest-client-id").val();

          httpClient.delete(`/console/api/rest-client/${id}`, {},
              function(response){
                  alert("삭제 처리 완료되었습니다.");
                  getRestClient();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function getRestClientQueryParam(clientId) {
            httpClient.get(`/console/api/rest-client/query-param/${clientId}`, {},
                function(response){
                    sheet.setSheetData('restClientQueryParamsGrid', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function insertRestClientQueryParam(clientId, item) {
            httpClient.post(`/console/api/rest-client/query-param`,{},
                {
                   clientId:clientId,
                   paramName:item.paramName,
                   valueType:item.valueType,
                   inputValue:item.inputValue
                },
                function(response){
                    alert("생성 완료되었습니다.");
                    getRestClientQueryParam(clientId);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateRestClientQueryParam(clientId,item) {
          httpClient.put(`/console/api/rest-client/query-param/${item.id}`, {},
              {
                   paramName:item.paramName,
                   valueType:item.valueType,
                   inputValue:item.inputValue
              },
              function(response){
                  alert("변경 완료되었습니다.");
                  getRestClientQueryParam(clientId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteRestClientQueryParam(clientId, item) {
          httpClient.delete(`/console/api/rest-client/query-param/${item.id}`, {},
              function(response){
                  alert("삭제 완료되었습니다.");
                  getRestClientQueryParam(clientId);
              },
              function(error){
                  alert('error');
              }
          );
        }


        function getRestClientHeader(clientId) {
            httpClient.get(`/console/api/rest-client/header/${clientId}`, {},
                function(response){
                    sheet.setSheetData('restClientHeadersGrid', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function insertRestClientHeader(clientId, item) {
            httpClient.post(`/console/api/rest-client/header`,{},
                {
                   clientId:clientId,
                   name:item.name,
                   valueType:item.valueType,
                   inputValue:item.inputValue
                },
                function(response){
                    alert("생성 완료되었습니다.");
                    getRestClientHeader(clientId);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateRestClientHeader(clientId,item) {
          httpClient.put(`/console/api/rest-client/header/${item.id}`, {},
              {
                   name:item.name,
                   valueType:item.valueType,
                   inputValue:item.inputValue
              },
              function(response){
                  alert("변경 완료되었습니다.");
                  getRestClientHeader(clientId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteRestClientHeader(clientId, item) {
          httpClient.delete(`/console/api/rest-client/header/${item.id}`, {},
              function(response){
                  alert("삭제 완료되었습니다.");
                  getRestClientHeader(clientId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function getRestClientBody(clientId) {
            httpClient.get(`/console/api/rest-client/body/${clientId}`, {},
                function(response){
                    sheet.setSheetData('restClientBodyGrid', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function insertRestClientBody(clientId, item) {
            httpClient.post(`/console/api/rest-client/body`,{},
                {
                   clientId:clientId,
                   paramName:item.paramName,
                   parentParamName:item.parentParamName,
                   dataType:item.dataType,
                   valueType:item.valueType,
                   orderNum:item.orderNum,
                   inputValue:item.inputValue
                },
                function(response){
                    alert("생성 완료되었습니다.");
                    getRestClientBody(clientId);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateRestClientBody(clientId,item) {
          httpClient.put(`/console/api/rest-client/body/${item.id}`, {},
              {
                   paramName:item.paramName,
                   parentParamName:item.parentParamName,
                   dataType:item.dataType,
                   valueType:item.valueType,
                   orderNum:item.orderNum,
                   inputValue:item.inputValue
              },
              function(response){
                  alert("변경 완료되었습니다.");
                  getRestClientBody(clientId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteRestClientBody(clientId, item) {
          httpClient.delete(`/console/api/rest-client/body/${item.id}`, {},
              function(response){
                  alert("삭제 완료되었습니다.");
                  getRestClientBody(clientId);
              },
              function(error){
                  alert('error');
              }
          );
        }
</script>
<mf-view th:fragment="view">
    <mf-data>
        <mf-codes>
        </mf-codes>
        <mf-messages>
            <mf-message id="ME_EVAL0001_01"></mf-message>
            <mf-message id="ME_EVAL0001_02"></mf-message>
            <mf-message id="ME_EVAL0001_03"></mf-message>
        </mf-messages>
    </mf-data>
    <mf-actions>

        <mf-action name="insertRestClientQueryParamEvent" args="args">
            insertRestClientQueryParam($("#rest-client-id").val(), args.item);
        </mf-action>

        <mf-action name="updateRestClientQueryParamEvent" args="args">
            updateRestClientQueryParam($("#rest-client-id").val(),args.item);
        </mf-action>

        <mf-action name="deleteRestClientQueryParamEvent" args="args">
            deleteRestClientQueryParam($("#rest-client-id").val(), args.item);
        </mf-action>

        <mf-action name="insertRestClientHeaderEvent" args="args">
            insertRestClientHeader($("#rest-client-id").val(), args.item);
        </mf-action>

        <mf-action name="updateRestClientHeaderEvent" args="args">
            updateRestClientHeader($("#rest-client-id").val(),args.item);
        </mf-action>

        <mf-action name="deleteRestClientHeaderEvent" args="args">
            deleteRestClientHeader($("#rest-client-id").val(), args.item);
        </mf-action>

        <mf-action name="insertRestClientBodyEvent" args="args">
            insertRestClientBody($("#rest-client-id").val(), args.item);
        </mf-action>

        <mf-action name="updateRestClientBodyEvent" args="args">
            updateRestClientBody($("#rest-client-id").val(),args.item);
        </mf-action>

        <mf-action name="deleteRestClientBodyEvent" args="args">
            deleteRestClientBody($("#rest-client-id").val(), args.item);
        </mf-action>
    </mf-actions>
    <mf-layout>
        <mf-row>
            <mf-col size="col-12">
                <mf-card id="func-card" >
                    <mf-tab-group>
                        <mf-tab id="func" title="기능" active>
                            <mf-card-header>
                                <mf-action-button id="saveRestClient" actionName="saveRestClient" icon="fas fa-save"></mf-action-button>
                                <mf-action-button id="deleteRestClient" actionName="deleteRestClient" icon="fas fa-trash"></mf-action-button>
                            </mf-card-header>
                            <mf-card-body>
                                <mf-form id="entityForm">
                                    <mf-row>
                                        <mf-text-input id="rest-client-id"              label="ID"          size="col-1" enable="false" hidden="true"></mf-text-input>
                                        <mf-text-input id="rest-client-clientName"      label="클라이언트명"  size="col-3" enable="false"></mf-text-input>
                                        <mf-text-input id="rest-client-displayName"     label="화면노출명"    size="col-3" enable="true" ></mf-text-input>
                                        <mf-select     id="rest-client-dataSourceName"  label="데이터소스"    size="col-3" enable="true" ></mf-select>
                                    </mf-row>
                                    <mf-row>
                                        <mf-select id="rest-client-method"   label="method" enable="true" size="col-2" dataProvider="METHOD" useFirstItem="true" firstItemLabel="" firstItemValue=""></mf-select>
                                        <mf-text-input id="rest-client-path" label="path"   enable="true" size="col-4" ></mf-text-input>
                                    </mf-row>
                                    <mf-row>
                                        <mf-select id="rest-client-contentType"         label="contentType"  enable="true" size="col-3" dataProvider="CONTENT_TYPE" useFirstItem="true" firstItemLabel="" firstItemValue=""></mf-select>
                                        <mf-select id="rest-client-bodyMessageFormat"   label="body 포맷"     enable="true" size="col-2" dataProvider="BODY_MESSAGE_FORMAT" useFirstItem="true" firstItemLabel="" firstItemValue=""></mf-select>
                                    </mf-row>
                                </mf-form>
                            </mf-card-body>

                            <mf-tab-group>
                                <mf-tab id="restClientQueryParams" title="Query Params" active>
                                    <mf-grid id="restClientQueryParamsGrid" width="100%" height="500px"
                                             control="true" editing="true" inserting="true"
                                             insertActionName="insertRestClientQueryParamEvent"
                                             updateActionName="updateRestClientQueryParamEvent"
                                             deleteActionName="deleteRestClientQueryParamEvent"
                                    >
                                        <mf-grid-column  type="number"   id="id"          label="ID"          width="20px"  hidden="true" ></mf-grid-column>
                                        <mf-grid-column  type="text"     id="paramName"   label="파라미터명"    width="100px" align="left" ></mf-grid-column>
                                        <mf-grid-column  type="select"   id="valueType"   label="값유형"       width="50px" dataProvider="VALUE_TYPE"></mf-grid-column>
                                        <mf-grid-column  type="text"     id="inputValue"  label="입력값"       width="100px" align="left" ></mf-grid-column>
                                    </mf-grid>
                                </mf-tab>
                                <mf-tab id="restClientHeaders" title="Headers">
                                    <mf-grid id="restClientHeadersGrid" width="100%" height="500px"
                                             control="true" editing="true" inserting="true"
                                             insertActionName="insertRestClientHeaderEvent"
                                             updateActionName="updateRestClientHeaderEvent"
                                             deleteActionName="deleteRestClientHeaderEvent"
                                    >
                                        <mf-grid-column  type="number"   id="id"            label="ID"      width="20px"  hidden="true" ></mf-grid-column>
                                        <mf-grid-column  type="text"     id="name"          label="key"     width="100px" align="left" ></mf-grid-column>
                                        <mf-grid-column  type="select"   id="valueType"     label="값유형"   width="50px" dataProvider="VALUE_TYPE"></mf-grid-column>
                                        <mf-grid-column  type="text"     id="inputValue"    label="입력값"   width="100px" align="left" ></mf-grid-column>
                                    </mf-grid>
                                </mf-tab>
                                <mf-tab id="restClientBody" title="Body">
                                    <mf-grid id="restClientBodyGrid" width="100%" height="500px"
                                             control="true" editing="true" inserting="true"
                                             insertActionName="insertRestClientBodyEvent"
                                             updateActionName="updateRestClientBodyEvent"
                                             deleteActionName="deleteRestClientBodyEvent"
                                    >
                                        <mf-grid-column  type="number"   id="id"                label="ID"            width="20px"  hidden="true" ></mf-grid-column>
                                        <mf-grid-column  type="text"     id="paramName"         label="파라미터명"      width="100px" align="left" ></mf-grid-column>
                                        <mf-grid-column  type="text"     id="parentParamName"   label="부모 파라미터명"  width="100px" align="left" ></mf-grid-column>
                                        <mf-grid-column  type="select"   id="dataType"          label="데이터유형"      width="50px" dataProvider="REST_DATA_TYPE"></mf-grid-column>
                                        <mf-grid-column  type="select"   id="valueType"         label="값유형"         width="50px" dataProvider="VALUE_TYPE"></mf-grid-column>
                                        <mf-grid-column  type="text"     id="inputValue"        label="입력값"         width="100px" align="left" ></mf-grid-column>
                                        <mf-grid-column  type="number"   id="orderNum"          label="순서"           width="30px" ></mf-grid-column>
                                    </mf-grid>
                                </mf-tab>
                            </mf-tab-group>
                        </mf-tab>

                        <mf-tab id="execute_tab" title="실행" >
                            <mf-card-header>
                                <mf-action-button id="execute" actionName="execute" icon="fas fa-play"></mf-action-button>
                            </mf-card-header>
                            <mf-card-body>
                                <mf-form id="executeForm">
                                    <mf-row>
                                        <mf-text-input id="executeType" label="실행유형" size="col-1"  enable="false" hidden="true"></mf-text-input>
                                        <mf-text-input id="executeTarget" label="대상" size="col-3"  enable="false" ></mf-text-input>
                                        <mf-text-input id="requestMessageId" label="요청메시지ID" size="col-3" enable="true" ></mf-text-input>
                                    </mf-row>
                                    <mf-row>
                                        <mf-grid id="executeGrid" width="100%" height="300px"
                                                 control="true" editing="true" inserting="true"
                                        >
                                            <mf-grid-column  type="text"   id="key"    label="key"     width="100px" align="left" ></mf-grid-column>
                                            <mf-grid-column  type="text"   id="value"  label="value"   width="100px" align="left" ></mf-grid-column>
                                        </mf-grid>
                                    </mf-row>
                                    <mf-row>
                                        <div class="form-group col-3">
                                            <label>실행 결과</label>
                                            <textarea id="responseData"  rows="20" cols="50"></textarea>
                                        </div>
                                    </mf-row>
                                </mf-form>
                            </mf-card-body>
                        </mf-tab>
                    </mf-tab-group>
                </mf-card>
            </mf-col>
        </mf-row>
    </mf-layout>
</mf-view>
</html>