<html xmlns:th="http://www.thymeleaf.org">
<style th:fragment="style">
    .step-item {
        position: relative;
        background-color: #ffffff;
        width: 260px;
        height: 180px;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        border: 3px solid #898989;
        //box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        margin-top:10px;
        margin-bottom:15px;
        word-break: break-word;
        overflow-wrap: break-word;
    }
    .add-step-item {
        position: relative;
        background-color: #ffffff;
        width: 100px;
        height: 100px;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        border: 3px solid #898989;
        margin-top:10px;
        margin-bottom:15px;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .step-message {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 6px 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .step-message-type {
        font-size: 10px;
        font-weight: bold;
        padding: 2px 8px;
        border-radius: 12px;
    }

    .message-in {
        background-color: #bae6ff;color: #0369a1;
    }
    .message-out {
        background-color: #a8f0a0;color: #047857;
    }

    .step-message-id {
       font-weight: 500;
       font-size: 12px;
    }

    .step-function {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 12px 12px 12px;
        gap: 12px;
        border-top: 1px solid #e5e7eb;
        border-bottom: 1px solid #e5e7eb;
        cursor: pointer;
    }

    .step-tools {
        position: absolute;
        top: -25px;
        right: 5px;
        color: #065f9e;
    }

    .step-tool {
        cursor: pointer;
    }

    .step-function-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
    }

    .step-function-name {
        display: flex;
        flex-direction: column;
    }

    .function-display-name {
        color: #1f2937; font-weight: 500;font-size: 18px;
    }
    .function-name {
        color: #1f2937; font-weight: 300;font-size: 14px;
    }

    .selected {
        outline: 2px solid #4A90E2;
        outline-offset: 2px;
    }
</style>
<script th:fragment="script">
    App.codes = {
        "FUNCTION_TYPE":[
            {code:"SQL",name:"SQL"},
            {code:"ENTITY",name:"Entity"},
            {code:"REST_CLIENT",name:"Rest Client"},
            {code:"MESSAGE_PROCESSOR",name:"메시지처리"},
            {code:"NOTIFICATION",name:"알림"}
        ]
    };

    const STEP_ITEM_ID_PREFIX = 'step-item-';

    $( document ).ready(function() {
        init();

        // 컴포넌트 선택 영역
        $(document).on("click", ".step-item", function(e) {
            e.stopPropagation();

            // 이전 선택 제거
            $(".step-item").removeClass("selected");

            // 현재 요소 선택
            $(this).addClass("selected");
        });

        $(document).off("input").on('input', '.input-element', function(e) {
            const name = $(this).attr('name');
            const value = $(this).val();
            const itemId = $(this).data('item-id');
            const itemData = getStepItemData(itemId);
            itemData[name] = value;

            setStepItemData(itemId, itemData);
        });

        $(document).on('click', '[name="btnEdit"]', function(e) {
            const itemId = $(this).data('item-id');
            changeEditMode(itemId);
        });

        $(document).on('click', '[name="btnCancel"]', function(e) {
            const itemId = $(this).data('item-id');
            changeViewMode(itemId);
        });

        $(document).on('click', '[name="btnDelete"]', function(e) {
            const itemId = $(this).data('item-id');
            deleteFunction(itemId, e);
        });

        $(document).on('click', '[name="btnFunctionSetting"]', function(e) {
            const itemId = $(this).data('item-id');
            const item = getStepItemData(itemId);
            openPopupFunctionSetting(item.functionType, item.functionName);
        });

        $(document).on("dblclick", ".step-function", function(e) {
            e.stopPropagation();

            const itemId = $(this).data('item-id');
            const item = getStepItemData(itemId);

            if (!item) {
                return;
            }

            openPopupFunctionSetting(
                item.functionType,
                item.functionName
            );
        });
    });

    function init() {
        Sheet.initSheet('workflowListGrid', "100%", "800px",
            {
                useSeq:true,
                useStatus:false,
                useDelete:false,
                useExpendLastColumn:true,
                offCellFocus:true,
                offDisableColumnColor:true,
            },
            [
                {field:'id', label:'ID', type:'text', width:30, hide:true, editable: true, align:'center', required:true},
                {field:'workflowCode', label:'code', type:'text', width:190, editable: false, align:'left', required:false},
                {field:'displayName', label:'name', type:'text', width:200, editable: false, align:'left', required:false}
            ],
            {
                onSelectionChanged:function(row) {
                    selectedContent(row.id);
                }
            });

        Sheet.initSheet('executeGrid', "100%", "300px",
            {
                useSeq:false,
                useStatus:false,
                useDelete:true,
                useExpendLastColumn:true
            },
            [
                {field:'messageId', label:'메시지ID', type:'text', width:120, editable: true, align:'left', required:false},
                {field:'key', label:'컬럼', type:'text', width:120, editable: true, align:'left', required:false},
                {field:'value', label:'값', type:'text', width:100, editable: true, align:'left', required:false}
            ]);

        getWorkflowList();
        setWorkflowGrid();
        setAuthorityGrid();
        showGrid('workflow-authority-card',true);
    }

    function getWorkflowList() {
        httpClient.get(`/console/api/workflow`, {},
            function(response){
                workflowListGrid.setSheetData(response);
            },
            function(error){
                alert('조회하는데 실패하였습니다.');
            }
        );
    }

    function setAuthorityGrid() {
        httpClient.get(`/console/api/authority`, {},
            function(response){
                let codes = [
                    {code:'',name:'선택'}
                ];

                codes = codes.concat(response);

                Sheet.initSheet('workflowAuthorityGrid', "100%", "500px",
                    {useSeq:false,useStatus:false,useDelete:true,useExpendLastColumn:true},
                    [
                        {field:'id', label:'ID', type:'text', width:30, hide:true, editable: true, align:'center', required:true},
                        {field:'authorityCode', label:'권한', type:'combo', width:300, editable: true, align:'center', required:false, comboCodes:codes}
                    ]);

                newContent();
            },
            function(error){
                alert('error');
            }
        );
    }

    function save() {
        httpClient.post(`/console/api/workflow/save`,{},
            {
                workflow:getContent(),
                workflowFunctions:getWorkflowFunctionData(),
                workflowAuthority:workflowAuthorityGrid.getSheetData()
            },
            function(response){
                alert("저장 완료되었습니다.");
                getWorkflowList();
                selectedContent(response.id);
            },
            function(error){
                alert("에러 발생하였습니다.");
            }
        );
    }

    function getWorkflowFunctionData() {
        const stepItems = document.querySelectorAll('#workflowGrid .step-item');

        let items = new Array();
        for(const stepItem of stepItems) {
            items.push(getStepItemData(stepItem.id));
        }

        return items;
    }

    function deleteWorkflow() {
        if(!confirm("삭제하시겠습니까?")) {
            return;
        }

        let id = $("#workflowId").val();

        httpClient.delete(`/console/api/workflow/${id}`, {},
          function(response){
              alert("삭제 처리 완료되었습니다.");
              getWorkflowList();
              newContent();
          },
          function(error){
              alert('error');
          }
        );
    }

    function selectedContent(workflowId) {
        httpClient.get(`/console/api/workflow/${workflowId}`, {},
            function(response){
                setContentData(response);
                getWorkflowFunction(workflowId);
                getWorkflowAuthority(workflowId);
                initExecuteGrid();
            },
            function(error){
                alert('error');
            }
        );
    }

    function setContentData(response) {
        setContent({
            id:response.id,
            workflowCode:response.workflowCode,
            displayName:response.displayName,
            note:response.note,
            useAuthValidation:response.useAuthValidation
          });
    }

    function getContent() {
        return {
            id: $("#workflowId").val(),
            workflowCode: $("#workflowCode").val(),
            displayName: $("#displayName").val(),
            note: '',
            useAuthValidation:App.util.isCheck('useAuthValidation')
        }
    }

    function setContent(params) {
        $("#workflowId").val(params.id);
        $("#workflowCode").val(params.workflowCode);
        $("#displayName").val(params.displayName);
        $("#note").val(params.note);
        App.util.check('useAuthValidation', params.useAuthValidation);
      }

      function newContent(){
        setContent({
            id:'',
            workflowCode:'',
            displayName:'',
            note:'',
            useAuthValidation:true
            });

        drawWorkflow('workflowGrid',[]);
        initFunctionGrid();
        workflowAuthorityGrid.setSheetData([]);
        initExecuteGrid();
      }

    function getWorkflowFunction(workflowId) {
        httpClient.get(`/console/api/workflow-function`, {workflowId:workflowId},
            function(response){
                drawWorkflow('workflowGrid',response);
            },
            function(error){
                alert('error');
            }
        );
    }

    function initExecuteGrid() {
        executeGrid.setSheetData([]);
        $("#responseData").val('');
    }

    function execute() {
        const gridData = executeGrid.getSheetData();

        const body = gridData.reduce((result, item) => {
            if (!result[item.messageId]) {
                result[item.messageId] = [];
            }
            result[item.messageId].push(item);
            return result;
        }, {});

        let header = {workflowCode : $("#workflowCode").val()};

        httpClient.post(`/workflow`,{},{body:body,header:header},
            function(response){
                $("#responseData").val(JSON.stringify(response,null,3));
            },
            function(error){
                $("#responseData").val(JSON.stringify(error.responseJSON,null,3));
            }
        );

    }

    function getWorkflowAuthority(workflowId) {
        httpClient.get(`/console/api/workflow-authority`, {workflowId:workflowId},
            function(response){
                for(let data of response) {
                    data._status = 'C';
                }
                workflowAuthorityGrid.setSheetData(response);
            },
            function(error){
                alert('error');
            }
        );
    }

    function setWorkflowGrid() {
        $("#workflowGrid").sortable({
            axis: "y",
            cancel: ".drag-cancel",
            cursor: "move",
            placeholder: "workflow-item-placeholder",
            tolerance: "pointer",
            items: ".step-item:not(.add-step-item)",
            update: function() {
                setStepItemsOrderNum();
                drawConnectors();
            }
        });

         $("<style>")
        .prop("type", "text/css")
        .html(`
          .workflow-item-placeholder {
            height: 80px;                   /* 카드 높이와 동일 */
            border: 2px dashed #007bff;     /* 테두리 강조 */
            background: #d0e7ff;            /* 배경색 */
            margin-bottom: 10px;            /* 카드 간격 맞춤 */
            border-radius: 8px;
          }
        `)
        .appendTo("head");
    }

    function setStepItemsOrderNum() {
        $("#workflowGrid .step-item").each(function(index) {
            const orderNum = index + 1;

            $(this).find("input[name='orderNum']").val(orderNum);

            const data = $(this).data("data");
            if (data) {
                data.orderNum = orderNum;
            }
        });
    }

    function drawWorkflow(id, response){
        const layout = $("#"+id);

        layout.empty();

        for(let data of response) {
            const itemId = STEP_ITEM_ID_PREFIX+data.id;
            layout.append(renderStepItem(itemId, data));
            changeViewMode(itemId);
        }
        layout.append(renderAddStepItem());
        layout.append(renderConnectLine());

        drawConnectors();

        for(let data of response) {
            setStepItemData(STEP_ITEM_ID_PREFIX+data.id, data);
        }
    }

    function renderAddStepItem() {
        return $(`
            <div class="add-step-item connector"
                 style="justify-content:center; align-items:center; cursor:pointer; border:2px dashed #9ca3af; background:#f9fafb;"
                 onclick="addStepItem()">

                <i class="fas fa-plus" style="font-size:24px; color:#6b7280;"></i>
                <div style="margin-top:5px; color:#6b7280;">단계 추가</div>
            </div>
        `);
    }

    function renderConnectLine() {
        return $(`<svg id="connectorLayer" width="100%" height="100%" style="position:absolute; top:0; left:0; pointer-events:none;"></svg>`);
    }

    function setStepItemData(id, data) {
        $('#'+id).data('data', data);

        for(let columnName in data) {
            const value = data[columnName];
            if(columnName == 'functionType') {
                $(`#${id} [name="view-${columnName}"]`).attr("src", getFunctionIconPath(value));
            }
            else {
                $(`#${id} [name="view-${columnName}"]`).text((value) ? value : '');
            }
        }
    }

    function getStepItemData(id) {
        return $('#'+id).data('data');
    }
    function removeStepItemData(id) {
        $('#'+id).removeData("data");
    }

    function getFunctionIconPath(functionType) {
        if(functionType === 'SQL'){
            return '/dist/img/func-sql.png';
        }
        else if(functionType === 'ENTITY'){
            return '/dist/img/func-entity.png';
        }
        else if(functionType === 'REST_CLIENT'){
            return '/dist/img/func-restclient.png';
        }
        else if(functionType === 'MESSAGE_PROCESSOR'){
            return '/dist/img/func-code.png';
        }
        else if(functionType === 'NOTIFICATION'){
            return '/dist/img/func-notification.png';
        }

        return null;
    }

    function inputEl(itemId, name, value, attr) {
        const el = $(`<input class="form-control form-control-sm rounded-1 input-element drag-cancel" type="text" name="${name}" data-item-id="${itemId}"></input>`);
        el.attr('autocomplete' , 'off');
        if(value) {
            el.val(value);
        }

        if(attr && attr.placeholder) {
            el.attr('placeholder'  , attr.placeholder);
        }

        return el;
    }

    function selectEl(itemId, name, codes, selectedValue) {
        const el = $(`<select class="form-control form-control-sm rounded-1 input-element drag-cancel" name="${name}" data-item-id="${itemId}"></select>`);

        for(const code of codes) {
            el.append($(`<option value="${code.code}">${code.name}</option>`));
        }

        el.val(selectedValue);

        return el;
    }

    function changeViewMode(id) {
        $(`#${id} .mode-edit`).css('display', 'none');
        $(`#${id} .mode-view`).css('display', '');
        changeEditBtn(id, false);
    }
    function changeEditMode(id) {
        $(`#${id} .mode-edit`).css('display', '');
        $(`#${id} .mode-view`).css('display', 'none');
        changeEditBtn(id, true);
    }

    function changeEditBtn(itemId, change) {
        showTool(itemId, 'btnEdit', !change);
        showTool(itemId, 'btnCancel', change);
    }

    function showTool(id, toolName, show) {
        $(`#${id} [name="${toolName}"]`).prop("hidden", !show);
    }

    function renderStepItem(id, data) {
        const stepItemEl = $(`<div class="step-item connector" id="${id}"></div>`);

        const hiddenEl = $(`
            <input type="number" name="id" value="${data.id}" hidden></input>
            <input type="number" name="orderNum" value="${data.orderNum}" hidden></input>
        `);

        const messageInViewEl = $(`
            <div class="step-message mode-view" style="display:none;">
                <span class="step-message-type message-in">IN</span>
                <span class="step-message-id drag-cancel"   name="view-requestMessageId">${data.requestMessageId}</span>
            </div>
        `);

        const functionViewEl = $(`
            <div class="step-function mode-view" style="display:none;" data-item-id="${id}">
                <span class="step-function-img">
                    <img name="view-functionType" src="${getFunctionIconPath(data.functionType)}" width="60" height="60" style="display:block;">
                </span>
                <span class="step-function-name">
                    <font class="function-display-name"     name="view-displayName">${data.displayName}</font>
                    <font class="function-name"             name="view-functionName">${data.functionName}</font>
                </span>
            </div>
        `);

        const messageOutViewEl = $(`
            <div class="step-message mode-view" style="display:none;" >
                <span class="step-message-type message-out">OUT</span>
                <span class="step-message-id drag-cancel" name="view-responseMessageId">${data.responseMessageId}</span>
            </div>
        `);

        const messageInEditEl = $(`<div class="step-message mode-edit" style="display:none;"></div>`);
        const messageInIdEl = $(`<span class="step-message-id col-12"></span>`);
        messageInIdEl.append(inputEl(id, 'requestMessageId', data.requestMessageId, {placeholder:'요청메시지ID 입력'}));
        messageInEditEl.append(messageInIdEl);

        const functionEditEl = $(`<div class="step-function mode-edit" style="display:none;"></div>`);
        const functionEditorEl = $(`<span class="step-editor col-12"></span>`);
        functionEditorEl.append(selectEl(id, 'functionType', App.codes['FUNCTION_TYPE'], data.functionType));
        functionEditorEl.append(inputEl(id, 'functionName', data.functionName, {placeholder:'기능코드 입력'}));
        functionEditEl.append(functionEditorEl);

        const messageOutEditEl = $(`<div class="step-message mode-edit" style="display:none;" ></div>`);
        const messageOutIdEl = $(`<span class="step-message-id col-12"></span>`);
        messageOutIdEl.append(inputEl(id, 'responseMessageId', data.responseMessageId, {placeholder:'응답메시지ID 입력'}));
        messageOutEditEl.append(messageOutIdEl);

        const toolsEl = $(`
            <span class="step-tools">
                <i class="step-tool fas fa-undo"        name="btnCancel"            data-item-id="${id}" hidden></i>
                <i class="step-tool fas fa-pen"         name="btnEdit"              data-item-id="${id}"></i>
                <i class="step-tool fas fa-trash"       name="btnDelete"            data-item-id="${id}" ></i>
                <i class="step-tool fas fa-ellipsis-h"  name="btnFunctionSetting"   data-item-id="${id}"></i>
            </span>
        `);

        stepItemEl.append(hiddenEl);
        stepItemEl.append(messageInViewEl);
        stepItemEl.append(messageInEditEl);
        stepItemEl.append(functionViewEl);
        stepItemEl.append(functionEditEl);
        stepItemEl.append(messageOutViewEl);
        stepItemEl.append(messageOutEditEl);
        stepItemEl.append(toolsEl);

        return stepItemEl;
    }

    function addStepItem() {
        const orderNum = getLastStepOrder()+1;
        const id = 'step-item-C'+orderNum;
        const data = {
            orderNum:Number(orderNum),
            functionType:"SQL",
            functionName:"",
            displayName:"(기능생성필요)",
            requestMessageId:"",
            responseMessageId:""
        }

        $(".add-step-item").before(renderStepItem(id, data));
        changeEditMode(id);

        drawConnectors();

        setStepItemData(id, data);
    }

    function deleteFunction(itemId, event) {
        //if(!confirm("삭제하시겠습니까?\n(삭제 후 저장해야 반영됩니다.)")) {
        //    return;
        //}

        event.stopPropagation();

        const stepItem = event.target.closest('.step-item');
        if (!stepItem) return;

        const data = {};
        const fields = stepItem.querySelectorAll('input[name], select[name]');
        fields.forEach(el => (data[el.name] = el.value));
        data.id = data.workflowFunctionId;

        stepItem.remove();
        drawConnectors();

        removeStepItemData(itemId);
    }

    function drawConnectors() {
        const steps = document.querySelectorAll('.connector');
        const svg = document.getElementById('connectorLayer');
        svg.innerHTML = ''; // 초기화

        steps.forEach((step, i) => {
            if(i === steps.length - 1) return; // 마지막은 연결 X

            const start = step.getBoundingClientRect();
            const end = steps[i + 1].getBoundingClientRect();
            const container = svg.getBoundingClientRect();

            const x = start.left + start.width / 2 - container.left;
            const y1 = start.bottom - container.top;
            const y2 = end.top - container.top;

            const line = document.createElementNS("http://www.w3.org/2000/svg", "line");
            line.setAttribute("x1", x);
            line.setAttribute("y1", y1);
            line.setAttribute("x2", x);
            line.setAttribute("y2", y2);
            line.setAttribute("stroke", "#bbb");
            line.setAttribute("stroke-width", "3");

            svg.appendChild(line);
        });
    }

    function getLastStepOrder() {
        const parent = document.querySelector('#workflowGrid');

        const items = parent.querySelectorAll('.step-item');
        const lastIndex = items.length;

        return lastIndex;
    }

    function initFunctionGrid() {
        showGrid('workflow-authority-card',false);
        showGrid('execute-card',false);
    }

    function showGrid(id, show) {
        if(show) {
            $("#"+id).removeClass('d-none');
        }
        else {
            $("#"+id).addClass('d-none');
        }
    }

    function openPopupFunctionSetting(type, functionName) {
        if(!functionName) {
            alert("기능코드를 입력해주세요.");
            return;
        }

        if(type === 'SQL') {
            App.modalPopup.open('/console/workflow-sql',{title:'SQL 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
        else if(type === 'ENTITY') {
            App.modalPopup.open('/console/workflow-entity',{title:'Entity 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
        else if(type === 'REST_CLIENT') {
            App.modalPopup.open('/console/workflow-restclient',{title:'Rest Client 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
        else if(type === 'MESSAGE_PROCESSOR') {
            App.modalPopup.open('/console/workflow-message',{title:'메시지 처리 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
        else if(type === 'NOTIFICATION') {
            App.modalPopup.open('/console/workflow-notification',{title:'알림 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
    }

    function restore() {
        const workflowId = $("#workflowId").val();
        if(workflowId) {
            selectedContent(workflowId);
        }
        else {
            newContent();
        }
    }
</script>
<div th:fragment="view">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Workflows</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-default btn-sm" onclick="getWorkflowList()">
                            <i class="btn-icon fas fa-search"></i>
                            <span class="btn-label"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="workflowListGrid"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">

                        <button type="button" class="btn btn-default btn-sm" onclick="restore()">
                            <i class="btn-icon fas fa-undo"></i>
                            <span class="btn-label">Restore</span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" onclick="newContent()">
                            <i class="btn-icon fas fa-plus"></i>
                            <span class="btn-label">Create</span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" onclick="save()">
                            <i class="btn-icon fas fa-save"></i>
                            <span class="btn-label">Save</span>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteWorkflow()">
                            <i class="btn-icon fas fa-trash"></i>
                            <span class="btn-label">Delete</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div id="workflowGrid" style="width:100%; min-height:800px; display:flex; flex-direction:column; gap:10px; align-items: center; justify-content: center;">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card" style="min-height:800px;">
                                <div class="card-header p-0 border-bottom-0">
                                    <ul class="nav nav-tabs" id="detail-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="workflow-def-tab" data-toggle="pill" href="#workflow-def" role="tab" aria-controls="workflow-def" aria-selected="true">
                                                Definition
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="execute-tab" data-toggle="pill" href="#execute" role="tab" aria-controls="execute" aria-selected="false">
                                                Execute
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="detail-tabContent" >

                                        <div class="tab-pane fade show active" id="workflow-def" role="tabpanel" aria-labelledby="workflow-def-tab">

                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-1 d-none">
                                                        <input type="text" class="form-control form-control-sm rounded-0" id="workflowId" >
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group d-flex">
                                                        <label for="workflowCode" style="width:130px;">코드</label>
                                                        <input type="text" class="form-control form-control-sm rounded-0" id="workflowCode" autocomplete="off" >
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group d-flex">
                                                        <label for="displayName" style="width:130px;">명칭</label>
                                                        <input type="text" class="form-control form-control-sm rounded-0" id="displayName" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group d-flex">
                                                        <label for="useAuthValidation" style="width:100px;">인증사용</label>
                                                        <div class="custom-control custom-switch" style="transform: scale(1.5); transform-origin: left center;">
                                                            <input type="checkbox" class="custom-control-input" id="useAuthValidation">
                                                            <label for="useAuthValidation" class="custom-control-label" style="cursor: pointer;">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label>권한</label>
                                                    <div style=" display: flex; margin-left: auto;">
                                                        <button type="button" class="btn btn-default btn-sm" onclick="workflowAuthorityGrid.addRowData()" >
                                                            <i class="btn-icon fas fa-plus"></i>
                                                            <span class="btn-label">Add</span>
                                                        </button>
                                                    </div>
                                                    <div id="workflowAuthorityGrid"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="execute" role="tabpanel" aria-labelledby="execute-tab">
                                            <div class="card-body">
                                                <div class="row">
                                                    <label>요청메시지</label>
                                                    <div style=" display: flex; margin-left: auto;">
                                                        <button type="button" class="btn btn-default btn-sm" onclick="executeGrid.addRowData()" >
                                                            <i class="btn-icon fas fa-plus"></i>
                                                            <span class="btn-label">Add</span>
                                                        </button>
                                                        <button type="button" class="btn btn-success btn-sm" onclick="execute()" >
                                                            <i class="btn-icon fas fa-play"></i>
                                                            <span class="btn-label">Run</span>
                                                        </button>
                                                    </div>
                                                    <div id="executeGrid"></div>
                                                </div>
                                                <div class="row">
                                                    <label for="responseData">실행 결과</label>
                                                    <textarea class="col-12" id="responseData"  rows="10" ></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</html>