<html xmlns:th="http://www.thymeleaf.org">
<style th:fragment="style">
    .step-item {
        position: relative;
        background-color: #ffffff;
        width: 260px;
        height: 165px;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        border: 3px solid #898989;
        //box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        margin-top:10px;
        margin-bottom:15px;
        word-break: break-word;
        overflow-wrap: break-word;
    }
    .add-step-item {
        position: relative;
        background-color: #ffffff;
        width: 100px;
        height: 100px;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        border: 3px solid #898989;
        margin-top:10px;
        margin-bottom:15px;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .step-message {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 6px 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .step-message-type {
        font-size: 10px;
        font-weight: bold;
        padding: 2px 8px;
        border-radius: 12px;
    }

    .step-message-id {
       font-weight: 500;
       font-size: 12px;
    }

    .step-function {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 12px 12px 12px;
        gap: 12px;
        border-top: 1px solid #e5e7eb;
        border-bottom: 1px solid #e5e7eb;
        cursor: pointer;
    }

    .step-tools {
        position: absolute;
        top: -25px;
        right: 5px;
    }

    .step-function-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
    }

    .step-function-name {
        display: flex;
        flex-direction: column;
    }

    .selected {
        outline: 2px solid #4A90E2;
        outline-offset: 2px;
    }
</style>
<script th:fragment="script">
    App.codes = {
        "FUNCTION_TYPE":[
            {code:"ENTITY",name:"Entity"},
            {code:"SQL",name:"SQL"},
            {code:"REST_CLIENT",name:"Rest Client"},
            {code:"MESSAGE_PROCESSOR",name:"메시지처리"}
        ],
        "YN_CD":[
            {code:"true",name:"Y"},
            {code:"false",name:"N"}
        ],
        "CODE_LANGUAGE":[
            {code:"GROOVY",name:"Groovy"}
        ]
    };

    let codes;

    $( document ).ready(function() {
        init();
    });

    function init() {

        getWorkflowList();
        setWorkflowGrid();

        setAuthorityGrid();
        showGrid('workflow-authority-card',true);
    }

    function setAuthorityGrid() {
        httpClient.get(`/console/api/authority`, {},
            function(response){
                let codes = [
                    {code:'',name:'선택'}
                ];

                codes = codes.concat(response);

                const columns = [
                    {field:'id', label:'ID', type:'text', width:30, hide:true, editable: true, align:'center', required:true},
                    {field:'authorityCode', label:'권한', type:'combo', width:350, editable: true, align:'center', required:false, comboCodes:codes}
                ];

                Sheet.initSheet('workflowAuthorityGrid', "100%", "800px",{useSeq:false,useStatus:true,useDelete:true}, columns);
            },
            function(error){
                alert('error');
            }
        );
    }

    function save() {
        let id = $("#workflowId").val();

        if(id) updateContent(id);
        else insertContent();
    }

    function selectedContent(item) {
        httpClient.get(`/console/api/workflow/${item.id}`, {},
            function(response){
                setContentData(response);
                getWorkflowFunction(item.id);
                getWorkflowAuthority(item.id);
            },
            function(error){
                alert('error');
            }
        );
    }

    function insertContent() {
        httpClient.post(`/console/api/workflow`,{},getContent(),
            function(response){
                alert("저장완료되었습니다.");
                getWorkflowList();
            },
            function(error){
                alert('error');
            }
        );
    }

    function updateContent(id) {
      httpClient.put(`/console/api/workflow/${id}`, {}, getContent(),
          function(response){
              alert("저장완료되었습니다.");
              getWorkflowList();
          },
          function(error){
              alert('error');
          }
      );
    }

    function deleteContent() {
      let id = $("#workflowId").val();

      httpClient.delete(`/console/api/workflow/${id}`, {},
          function(response){
              alert("삭제 처리 완료되었습니다.");
              getWorkflowList();
          },
          function(error){
              alert('error');
          }
      );
    }

    function setContentData(response) {
        setContent({
            id:response.id,
            workflowCode:response.workflowCode,
            displayName:response.displayName,
            note:response.note,
            useAuthValidation:response.useAuthValidation
          });
    }

    function getContent() {
        return {
            id: $("#workflowId").val(),
            workflowCode: $("#workflowCode").val(),
            displayName: $("#displayName").val(),
            note: '',
            useAuthValidation:App.util.isCheck('useAuthValidation')
        }
    }

    function setContent(params) {
        $("#workflowId").val(params.id);
        $("#workflowCode").val(params.workflowCode);
        $("#displayName").val(params.displayName);
        $("#note").val(params.note);
        App.util.check('useAuthValidation', params.useAuthValidation);
      }

      function newContent(){
        setContent({
            id:'',
            workflowCode:'',
            displayName:'',
            note:'',
            useAuthValidation:true
            });

        drawWorkflow('workflowGrid',[]);
        initFunctionGrid();
      }

    function getWorkflowFunction(workflowId) {
        httpClient.get(`/console/api/workflow-function`, {workflowId:workflowId},
            function(response){
                drawWorkflow('workflowGrid',response);
            },
            function(error){
                alert('error');
            }
        );
    }

    function insertWorkflowFunction(workflowId, item) {
        httpClient.post(`/console/api/workflow-function`,{},
            {
               workflowId:workflowId,
               functionName:item.functionName,
               functionType:item.functionType,
               orderNum:item.orderNum,
               isLogging:item.isLogging,
               requestMessageId:item.requestMessageId,
               responseMessageId:item.responseMessageId
            },
            function(response){
                alert("생성 완료되었습니다.");
                getWorkflowFunction(workflowId);
            },
            function(error){
                alert('error');
            }
        );
    }

    function updateWorkflowFunction(workflowId, item) {
      httpClient.put(`/console/api/workflow-function/${item.id}`, {},
          {
               workflowId:workflowId,
               functionName:item.functionName,
               functionType:item.functionType,
               orderNum:item.orderNum,
               isLogging:item.isLogging,
               requestMessageId:item.requestMessageId,
               responseMessageId:item.responseMessageId
          },
          function(response){
              alert("변경 완료되었습니다.");
              getWorkflowFunction(workflowId);
          },
          function(error){
              alert('error');
          }
      );
    }

    function deleteWorkflowFunction(workflowId, item) {
      httpClient.delete(`/console/api/workflow-function/${item.id}`, {},
          function(response){
              alert("삭제 완료되었습니다.");
              getWorkflowFunction(workflowId);
          },
          function(error){
              alert('error');
          }
      );
    }

    function saveWorkflowFunction(workflowId, items) {
      httpClient.post(`/console/api/workflow-function/save`, {},items,
          function(response){
              alert("저장완료되었습니다.");
              getWorkflowFunction(workflowId);
          },
          function(error){
              alert('error');
          }
      );
    }

    function execute() {
        let executeType = $("#executeType").val();
        let executeTarget = $("#executeTarget").val();
        let requestMessageId = $("#requestMessageId").val();

        let contents = {};
        let gridData = grid.getSheetData("executeGrid");

        for(let i=0; i<gridData.length; i++) {
            let value = gridData[i]["value"];
            if(value == "null") {
                contents[gridData[i]["key"]] = null;
            }
            else {
                contents[gridData[i]["key"]] = value;
            }
        }

        let body = {};
        body[requestMessageId] = [contents];
        let header = {workflowCode : executeTarget};

        httpClient.post(`/workflow`,{},{body:body,header:header},
            function(response){
                $("#responseData").val(JSON.stringify(response,null,3));
            },
            function(error){
                $("#responseData").val(JSON.stringify(error.responseJSON,null,3));
            }
        );

    }

    function getWorkflowAuthority(workflowId) {
        httpClient.get(`/console/api/workflow-authority`, {workflowId:workflowId},
            function(response){
                workflowAuthorityGrid.setSheetData(response);
            },
            function(error){
                alert('error');
            }
        );
    }

    function insertWorkflowAuthority(workflowId, item) {
        httpClient.post(`/console/api/workflow-authority`,{},
            {
               workflowId:workflowId,
               authorityCode:item.authorityCode
            },
            function(response){
                alert("생성 완료되었습니다.");
                getWorkflowAuthority(workflowId);
            },
            function(error){
                alert('error');
            }
        );
    }

    function updateWorkflowAuthority(workflowId, item) {
      httpClient.put(`/console/api/workflow-authority/${item.id}`, {},
          {
               workflowId:workflowId,
               authorityCode:item.authorityCode
          },
          function(response){
              alert("변경 완료되었습니다.");
              getWorkflowAuthority(workflowId);
          },
          function(error){
              alert('error');
          }
      );
    }

    function deleteWorkflowAuthority(workflowId, item) {
      httpClient.delete(`/console/api/workflow-authority/${item.id}`, {},
          function(response){
              alert("삭제 완료되었습니다.");
              getWorkflowAuthority(workflowId);
          },
          function(error){
              alert('error');
          }
      );
    }
    function setWorkflowGrid() {
        $("#workflowGrid").sortable({
            axis: "y",
            cursor: "move",
            placeholder: "workflow-item-placeholder",
            tolerance: "pointer",
            items: ".step-item:not(.add-step-item)",
            update: function() {
                setStepItemsOrderNum();
                drawConnectors();
            }
        });

         $("<style>")
        .prop("type", "text/css")
        .html(`
          .workflow-item-placeholder {
            height: 80px;                   /* 카드 높이와 동일 */
            border: 2px dashed #007bff;     /* 테두리 강조 */
            background: #d0e7ff;            /* 배경색 */
            margin-bottom: 10px;            /* 카드 간격 맞춤 */
            border-radius: 8px;
          }
        `)
        .appendTo("head");
    }

    function setStepItemsOrderNum() {
        $("#workflowGrid .step-item").each(function(index) {
            $(this).find("input[name='orderNum']").val(index + 1);
        });
    }

    function drawWorkflow(id, response){
        let stepItemIdPrefix = 'step-item-';
        let html = '';

        for(let data of response) {
            html += htmlStepItem(stepItemIdPrefix+data.id, data, false);
        }
         html += htmlAddStepItem();
        html += htmlConnectLine();

        $("#"+id).html(html);

        drawConnectors();

        for(let data of response) {
            setStepItemData(stepItemIdPrefix+data.id, data);
        }
    }

    function htmlAddStepItem() {
        return `
            <div class="add-step-item connector"
                 style="justify-content:center; align-items:center; cursor:pointer; border:2px dashed #9ca3af; background:#f9fafb;"
                 onclick="addStepItem()">

                <i class="fas fa-plus" style="font-size:24px; color:#6b7280;"></i>
                <div style="margin-top:5px; color:#6b7280;">단계 추가</div>
            </div>
        `;
    }

    function setStepItemData(id, data) {
        $('#'+id).data('data', data);
    }

    function getStepItemData(id) {
        return $('#'+id).data('data');
    }

    function htmlConnectLine() {
        return `<svg id="connectorLayer" width="100%" height="100%" style="position:absolute; top:0; left:0; pointer-events:none;"></svg>`;
    }

    function htmlStepItem(id, data, create) {
        let iconPath = '';
        if(data.functionType == 'SQL'){
            iconPath = '/dist/img/func-sql.png';
        }
        else if(data.functionType == 'ENTITY'){
            iconPath = '/dist/img/func-entity.png';
        }
        else if(data.functionType == 'REST_CLIENT'){
            iconPath = '/dist/img/func-restclient.png';
        }
        else if(data.functionType == 'MESSAGE_PROCESSOR'){
            iconPath = '/dist/img/func-code.png';
        }

        let hiddenDisplayElement = '';
        let hiddenInputElement = 'hidden';
        let hiddenUndoBtn = 'hidden';
        let hiddenEditBtn = '';
        let hiddenDeleteBtn = '';
        if(create) {
            hiddenInputElement = '';
            hiddenDisplayElement = 'hidden';
            hiddenEditBtn = 'hidden';
            hiddenUndoBtn = 'hidden';
        }

        let htmlOptionFunctionType = '';
        let functionTypeCode = App.codes['FUNCTION_TYPE'];
        for(let v of functionTypeCode) {
            htmlOptionFunctionType += `<option value="${v.code}" ${data.functionType == v.code ? 'selected' : ''}>${v.name}</option>`;
        }

        return `
            <div class="step-item connector" id="${id}">
                <input type="number" name="workflowFunctionId" value="${data.id}" hidden></input>
                <input type="number" name="orderNum" value="${data.orderNum}" hidden></input>

                <!-- IN 영역 -->
                <div class="step-message" >
                    <span class="step-message-type display-element" style="background-color: #bae6ff;color: #0369a1;" ${hiddenDisplayElement}>
                        IN
                    </span>
                    <span class="step-message-id display-element"   style="color: #065f9e;" ${hiddenDisplayElement}>
                        <span class="display-element" >${data.requestMessageId}</span>
                    </span>
                    <span class="step-message-id input-element" ${hiddenInputElement}>
                        <input class="input-element" type="text" name="requestMessageId" value="${data.requestMessageId}" placeholder="요청메시지ID 입력" style="width:150px;" autocomplete="off" ></input>
                    </span>
                </div>

                <!-- 기능 영역 -->
                <div class="step-function" >
                    <span class="step-function-img display-element" ${hiddenDisplayElement}>
                        <img class="display-element" src="${iconPath}" width="60" height="60" style="display:block;" ${hiddenDisplayElement}>
                    </span>
                    <span class="step-function-name display-element" ${hiddenDisplayElement}>
                        <font class="display-element"  style="color: #1f2937; font-weight: 500;font-size: 18px;" ${hiddenDisplayElement}>
                            ${data.displayName}
                        </font>
                        <font class="display-element"  style="color: #1f2937; font-weight: 300;font-size: 14px;" ${hiddenDisplayElement}>
                            ${data.functionName}
                        </font>
                    </span>
                    <span class="step-editor input-element col-12" ${hiddenInputElement}>
                        <select class="input-element form-control form-control-sm rounded-1" name="functionType" ${hiddenInputElement}>
                            ${htmlOptionFunctionType}
                        </select>
                        <input class="input-element form-control form-control-sm rounded-1" type="text" name="functionName" value="${data.functionName}" placeholder="기능코드 입력" autocomplete="off" ${hiddenInputElement}></input>
                    </span>
                </div>

                <!-- OUT 영역 -->
                <div class="step-message" >
                    <span class="step-message-type display-element" style="background-color: #a8f0a0;color: #047857;" ${hiddenDisplayElement}>
                        OUT
                    </span>
                    <span class="step-message-id display-element"   style="color: #065f46;" ${hiddenDisplayElement}>
                        <span class="display-element" >${data.responseMessageId}</span>
                    </span>
                    <span class="step-message-id input-element"   ${hiddenInputElement}>
                        <input class="input-element" type="text" name="responseMessageId" value="${data.responseMessageId}" placeholder="응답메시지ID 입력" style="width:150px;" autocomplete="off" ></input>
                    </span>
                </div>

                <!-- 드래그 핸들 -->
                <span class="step-tools" style="color: #065f9e;">
                    <i class="fas fa-undo" name="btnCancel" style="cursor: pointer;" onclick="cancelEditFunction(event)" ${hiddenUndoBtn}></i>
                    <i class="fas fa-pen" name="btnEdit" style="cursor: pointer;" onclick="editFunction(event)" ${hiddenEditBtn}></i>
                    <i class="fas fa-trash" name="btnDelete"  style="cursor: pointer;" onclick="deleteFunction(event)" ></i>
                    <i class="fas fa-ellipsis-h" name="btnFunctionSetting" style="cursor: pointer;" onclick="openPopupFunctionSetting('${data.functionType}','${data.functionName}')"  ${hiddenDisplayElement}></i>
                </span>
            </div>
        `;
    }

    // 컴포넌트 선택 영역
    $(document).on("click", ".step-item", function(e) {
        e.stopPropagation();

        // 이전 선택 제거
        $(".step-item").removeClass("selected");

        // 현재 요소 선택
        $(this).addClass("selected");
    });

    function executeFunction(functionType, functionName, requestMessageId) {
        $("#executeTarget").val(functionName);
        $("#executeType").val(functionType);
        $("#requestMessageId").val(requestMessageId);
        $("#responseData").val('');

        showGrid('execute-card',true);
    }

    function addStepItem() {
        let orderNum = getLastStepOrder()+1;

        const newItem = htmlStepItem('step-item-C'+orderNum, {
            orderNum:Number(orderNum),
            functionType:"",
            functionName:"",
            requestMessageId:"",
            responseMessageId:""
        }, true);

        $(".add-step-item").before(newItem);

        drawConnectors();
    }

    function saveFunction() {
        if(!confirm("저장하시겠습니까?")) {
            return;
        }

        const stepItems = document.querySelectorAll('#workflowGrid .step-item');

        let workflowId = $("#workflowId").val();
        workflowId = (workflowId) ? Number(workflowId) : null;

        let items = new Array();
        for(const stepItem of stepItems) {
            const data = {};
            const fields = stepItem.querySelectorAll('input[name], select[name]');
            fields.forEach(el => (data[el.name] = el.value));
            data.id = (data.workflowFunctionId) ? Number(data.workflowFunctionId) : null;
            data.workflowId = workflowId;
            data.orderNum = (data.orderNum) ? Number(data.orderNum) : null;
            items.push(data);
        }

        saveWorkflowFunction(workflowId, items);
    }

    function deleteFunction(event) {
        if(!confirm("삭제하시겠습니까?")) {
            return;
        }

        event.stopPropagation();

        const stepItem = event.target.closest('.step-item');
        if (!stepItem) return;

        const data = {};
        const fields = stepItem.querySelectorAll('input[name], select[name]');
        fields.forEach(el => (data[el.name] = el.value));
        data.id = data.workflowFunctionId;

        if(data.workflowFunctionId) {
            deleteWorkflowFunction($("#workflowId").val(), data);
        }
        else {
            stepItem.remove();
            drawConnectors();
        }
    }

    function editFunction(event) {
        event.stopPropagation();

        const stepItem = event.target.closest('.step-item');
        if (!stepItem) return;

        const inputElements = stepItem.querySelectorAll('.input-element')
        inputElements.forEach(el => {
            el.hidden = false;
        });

        const displayElements = stepItem.querySelectorAll('.display-element')
        displayElements.forEach(el => {
            el.hidden = true;
        });

        const btnCancels = stepItem.querySelectorAll('[name="btnCancel"]');
        btnCancels.forEach(el => {
            el.hidden = false;
        });

        const btnEdits = stepItem.querySelectorAll('[name="btnEdit"]');
        btnEdits.forEach(el => {
            el.hidden = true;
        });

        const btnDeletes = stepItem.querySelectorAll('[name="btnDelete"]');
        btnDeletes.forEach(el => {
            el.hidden = true;
        });
    }

    function cancelEditFunction(event) {
        event.stopPropagation();

        const stepItem = event.target.closest('.step-item');
        if (!stepItem) return;

        let originalData = getStepItemData(stepItem.id);
        console.log('originalData',originalData);

        const inputElements = stepItem.querySelectorAll('.input-element')
        inputElements.forEach(el => {
            el.hidden = true;
            el.value = originalData[el.name];
        });

        const displayElements = stepItem.querySelectorAll('.display-element')
        displayElements.forEach(el => {
            el.hidden = false;
        });

        const btnCancels = stepItem.querySelectorAll('[name="btnCancel"]');
        btnCancels.forEach(el => {
            el.hidden = true;
        });

        const btnEdits = stepItem.querySelectorAll('[name="btnEdit"]');
        btnEdits.forEach(el => {
            el.hidden = false;
        });

        const btnDeletes = stepItem.querySelectorAll('[name="btnDelete"]');
        btnDeletes.forEach(el => {
            el.hidden = false;
        });
    }

    function drawConnectors() {
        const steps = document.querySelectorAll('.connector');
        const svg = document.getElementById('connectorLayer');
        svg.innerHTML = ''; // 초기화

        steps.forEach((step, i) => {
            if(i === steps.length - 1) return; // 마지막은 연결 X

            const start = step.getBoundingClientRect();
            const end = steps[i + 1].getBoundingClientRect();
            const container = svg.getBoundingClientRect();

            const x = start.left + start.width / 2 - container.left;
            const y1 = start.bottom - container.top;
            const y2 = end.top - container.top;

            const line = document.createElementNS("http://www.w3.org/2000/svg", "line");
            line.setAttribute("x1", x);
            line.setAttribute("y1", y1);
            line.setAttribute("x2", x);
            line.setAttribute("y2", y2);
            line.setAttribute("stroke", "#bbb");
            line.setAttribute("stroke-width", "3");

            svg.appendChild(line);
        });
    }

    function getLastStepOrder() {
        const parent = document.querySelector('#workflowGrid');

        const items = parent.querySelectorAll('.step-item');
        const lastIndex = items.length;

        return lastIndex;
    }

    function initFunctionGrid() {
        showGrid('workflow-authority-card',false);
        showGrid('execute-card',false);
    }

    function showGrid(id, show) {
        if(show) {
            $("#"+id).removeClass('d-none');
        }
        else {
            $("#"+id).addClass('d-none');
        }
    }

    function openPopupFunctionSetting(type, functionName) {
        if(type == 'SQL') {
            App.modalPopup.open('/console/workflow-sql',{title:'SQL 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
        else if(type == 'ENTITY') {
            App.modalPopup.open('/console/workflow-entity',{title:'Entity 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
        else if(type == 'REST_CLIENT') {
            App.modalPopup.open('/console/workflow-restclient',{title:'Rest Client 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
        else if(type == 'MESSAGE_PROCESSOR') {
            App.modalPopup.open('/console/workflow-message',{title:'메시지 처리 팝업',size:"modal-xl",messageId:'FUNC_REQUEST'},{functionName:functionName});
        }
    }
</script>
<mf-view th:fragment="view">
    <mf-data>
        <mf-codes>
        </mf-codes>
        <mf-messages>
            <mf-message id="ME_EVAL0001_01"></mf-message>
            <mf-message id="ME_EVAL0001_02"></mf-message>
            <mf-message id="ME_EVAL0001_03"></mf-message>
        </mf-messages>
    </mf-data>
    <mf-actions>
        <mf-action name="clickWorkflowList" args="args">
            selectedContent(args.item);
        </mf-action>

        <mf-action name="getWorkflowList" >
            httpClient.get(`/console/api/workflow`, {},
                function(response){
                    grid.setSheetData('workflowListGrid', response);
                },
                function(error){
                    alert('조회하는데 실패하였습니다.');
                }
            );
        </mf-action>

        <mf-action name="executeWorkflow" >
            initFunctionGrid();

            $("#executeTarget").val($("#workflowCode").val());
            $("#executeType").val('WORKFLOW');
            $("#requestMessageId").val('');
            $("#responseData").val('');
            showGrid('execute-card',true);
        </mf-action>

        <mf-action name="newWorkflowAuthority" >
            workflowAuthorityGrid.addRowData();
        </mf-action>

        <mf-action name="saveWorkflowAuthority" >
            const saveData = workflowAuthorityGrid.getSheetData();
            console.log('saveData',saveData);
        </mf-action>
    </mf-actions>
    <mf-layout>
        <mf-row>
            <mf-col size="col-3">
                <mf-card>
                    <mf-card-header title="목록">
                        <mf-action-button id="search" actionName="getWorkflowList" icon="fas fa-search"></mf-action-button>
                    </mf-card-header>
                    <mf-card-body>
                        <mf-grid id="workflowListGrid" width="100%" height="800px"
                                 rowClickActionName="clickWorkflowList"
                        >
                            <mf-grid-column  type="number" id="id"           label="ID"    width="50px"  hidden="true" ></mf-grid-column>
                            <mf-grid-column  type="text"   id="workflowCode" label="코드"   width="150px" ></mf-grid-column>
                            <mf-grid-column  type="text"   id="displayName"  label="명칭"   width="200px" ></mf-grid-column>
                        </mf-grid>
                    </mf-card-body>
                </mf-card>
            </mf-col>
            <mf-col size="col-6">
                <mf-card>
                    <mf-card-header title="정의">
                        <mf-action-button id="new"      actionName="newContent"     icon="fas fa-plus"          ></mf-action-button>
                        <mf-action-button id="save"     actionName="save"           icon="fas fa-save"          ></mf-action-button>
                        <mf-action-button id="delete"   actionName="deleteContent"  icon="fas fa-trash"         ></mf-action-button>
                    </mf-card-header>
                    <mf-card-body>
                        <mf-form id="workflowDetailForm">
                            <mf-row>
                                <mf-text-input id="workflowId"      label="ID"        enable="false"  size="col-1" hidden="true"></mf-text-input>
                                <mf-text-input id="workflowCode"    label="코드"       enable="true"   size="col-3" ></mf-text-input>
                                <mf-text-input id="displayName"     label="명칭"       enable="true"   size="col-3" ></mf-text-input>
                                <mf-toggle id="useAuthValidation"   label="인증사용"    enable="true"   size="col-2" ></mf-toggle>
                            </mf-row>
                        </mf-form>
                    </mf-card-body>
                    <mf-card-header title="워크플로우">
                        <mf-action-button id="executeWorkflow" actionName="executeWorkflow"       icon="fas fa-play"></mf-action-button>
                        <mf-action-button id="saveFunction" actionName="saveFunction" icon="fas fa-save" ></mf-action-button>
                    </mf-card-header>
                    <mf-card-body>
                        <div id="workflowGrid" style="display:flex; flex-direction:column; gap:10px; align-items: center; justify-content: center;">
                        </div>
                    </mf-card-body>
                </mf-card>
            </mf-col>
            <mf-col size="col-3">

                <mf-card id="workflow-authority-card" hidden>
                    <mf-card-header title="접근제어">
                        <mf-action-button id="newWorkflowAuthority" actionName="newWorkflowAuthority" icon="fas fa-plus"></mf-action-button>
                        <mf-action-button id="saveWorkflowAuthority" actionName="saveWorkflowAuthority" icon="fas fa-save"></mf-action-button>
                    </mf-card-header>
                    <mf-card-body>
                        <div id="workflowAuthorityGrid"></div>
                    </mf-card-body>
                </mf-card>

                <mf-card id="execute-card" hidden>
                    <mf-card-header title="실행">
                        <mf-action-button id="execute" actionName="execute" icon="fas fa-play"></mf-action-button>
                    </mf-card-header>
                    <mf-card-body>
                        <mf-form id="executeForm">
                            <mf-row>
                                <mf-text-input id="executeType" label="실행유형" size="col-1"  enable="false" hidden="true"></mf-text-input>
                                <mf-text-input id="executeTarget" label="대상" size="col-3"  enable="false" ></mf-text-input>
                                <mf-text-input id="requestMessageId" label="요청메시지ID" size="col-3" enable="true" ></mf-text-input>
                            </mf-row>
                            <mf-row>
                                <mf-grid id="executeGrid" width="100%" height="300px"
                                         control="true" editing="true" inserting="true"
                                >
                                    <mf-grid-column  type="text"   id="key"    label="key"     width="100px" align="left" ></mf-grid-column>
                                    <mf-grid-column  type="text"   id="value"  label="value"   width="100px" align="left" ></mf-grid-column>
                                </mf-grid>
                            </mf-row>
                            <mf-row>
                                <div class="form-group col-3">
                                    <label>실행 결과</label>
                                    <textarea id="responseData"  rows="20" cols="100"></textarea>
                                </div>
                            </mf-row>
                        </mf-form>
                    </mf-card-body>
                </mf-card>
            </mf-col>
        </mf-row>
    </mf-layout>
</mf-view>
</html>