.ag-center-header .ag-header-cell-label {
    justify-content: center;
}
.ag-header-group-cell.ag-center-group-header .ag-header-group-cell-label {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
}
.ag-header-group-cell.ag-center-group-header .ag-header-group-text {
    text-align: center !important;
}
.required-header .ag-header-cell-text::before {
    content: "*";
    color: red;
    margin-right: 4px;
    font-weight: bold;
}


/* Row Hover */
.ag-theme-quartz .disabled-cell {
    background-color: #f3f3f3;
}
.ag-theme-quartz .ag-row-hover .disabled-cell {
    background-color: var(--ag-row-hover-color);
}
.ag-theme-quartz .ag-row-selected .disabled-cell {
    background-color: var(--ag-selected-row-background-color);
}


/* Align */
.align-left .ag-cell-wrapper {
    width: 100%;
    justify-content: flex-start;
}

.align-center .ag-cell-wrapper {
    width: 100%;
    justify-content: center;
}

.align-right .ag-cell-wrapper {
    width: 100%;
    justify-content: flex-end;
}