<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>console</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="dist/css/adminlte.min.css">
        <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">

        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav" >
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-light-primary elevation-4">
                <a href="/" class="brand-link">
                    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Netmarble</span>
                </a>

                <div class="sidebar">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">김낙영</a>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <select class="form-control col-12" id="rootMenu">
                            </select>
                        </div>
                    </div>
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <div id="menu"></div>
                        </ul>
                    </nav>
                </div>
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
                <div th:replace="~{/pages/layout/content::tab-header}"></div>
                <div class="tab-content">
                    <div th:replace="~{/pages/layout/content::index-content}"></div>
                    <div th:replace="~{/pages/layout/content::tab-loading}"></div>
                </div>
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <strong>Copyright &copy; 2024. <a href="">DataJoy</a></strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 0.0.1
                </div>
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
            </aside>
        </div>

        <script src="plugins/jquery/jquery.min.js"></script>
        <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
        <script>
          $.widget.bridge('uibutton', $.ui.button)
        </script>
        <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
            <script>
            $( document ).ready(function() {
                setRootMenu();

                $('#rootMenu').on('change', function() {
                    var selectedValue = $(this).val();
                    if(selectedValue == null || selectedValue == '') {
                        $("#menu").html('');
                    }
                    else {
                        setMenuTree(selectedValue);
                    }
                });
            });

            function setRootMenu() {
                $.ajax({
                  type: 'GET',
                  url: '/api/menu/root',
                  success: function(response) {
                    let shtml = '';

                    shtml += '<option value="">선택</option>';
                    for(let i=0; i<response.length; i++) {
                        shtml += '<option value="'+response[i].menuCd+'">' +response[i].menuNm + '</option>';
                    }

                    $("#rootMenu").html(shtml);
                  },
                  error: function(error) {
                    alert('에러가 발생하였습니다.');
                  },
                });
            }

            function setMenuTree(rootMenuCd) {
                $.ajax({
                  type: 'GET',
                  url: '/api/menu/tree',
                  data: {"parentMenuCd":rootMenuCd},
                  success: function(response) {
                  console.log('response',response);
                    let shtml = '';

                    for(let i=0; i<response.length; i++) {
                        shtml += getMenuHtml(response[i]);
                    }

                    $("#menu").html(shtml);
                  },
                  error: function(error) {
                    alert('에러가 발생하였습니다.');
                  },
                });
            }

            function getMenuHtml(menu) {
                let menuPath = (menu.objectCd != null) ? '/pages/'+menu.objectCd : '#';
                let menuItemClass = menu.icon + ((menu.isLeafNode)?' nav-icon':'');

                let shtml = '';

                shtml += '<li class="nav-item">';
                shtml += '<a href="'+menuPath+'" class="nav-link" >';
                if(!menu.isLeafNode) {
                    shtml += '<i class="right fas fa-angle-left"></i>';
                }
                shtml +=    '<i class="'+menuItemClass+'"></i><p>'+menu.menuNm+'</p>';
                shtml += '</a>';

                if(menu.children != undefined && menu.children != null) {
                    shtml += '<ul class="nav nav-treeview">';
                    for(let i=0; i<menu.children.length; i++) {
                        shtml += getMenuHtml(menu.children[i]);
                    }
                    shtml += '</ul>';
                }
                shtml += '</li>';

                return shtml;
            }
        </script>
            <script src="dist/js/adminlte.js?v=2"></script>
    </body>
</html>
