<html xmlns:th="http://www.thymeleaf.org">
<script th:fragment="script">
        $( document ).ready(function() {
            console.log('version.0.0.1');
            init();

            $("[data-watch]").on("change", function() {
                let status = $("#status").val();
                if(isEmpty(status)) {
                    $("#status").val("U");
                }
            });
        });

        function init() {
            var codes = {
                "ObjectType":[]
            };

            setCodes(codes);

            let treeId = "menu_tree";

            $('#'+treeId).jstree({
                "core" : {
                    "themes" : {
                        "name" : "default",
                        "responsive": true
                    },
                    "multiple":false,
                    "check_callback": function (op, node, parent, pos, more) {
                        if (op === "create_node") {
                            if (parent && parent.data && parent.data.status === "C") {
                                alert("상위 메뉴를 저장 후에 생성가능합니다.");
                                return false;
                            }
                        }

                        return true;
                    },
                    "data" : false
                },
                "plugins": ["dnd","contextmenu"],
                "dnd": {
                    "copy": false,
                    "inside_pos": "last",
                    "drag_selection": true,
                    "touch": true
                },
                contextmenu: {
                    items: function(node) {
                        return {
                            "Create": {
                                "label": "Create",
                                "action": function(obj) {
                                      let tree = $('#'+treeId).jstree(true);

                                      let parent = tree.get_parent(node);
                                      let siblings = tree.get_node(parent).children;
                                      let index = siblings.indexOf(node.id);

                                      tree.create_node(node, {
                                        text: "New Menu",
                                        data: {
                                            menuCd: "",
                                            menuNm: "New Menu",
                                            parentMenuCd: node.data.menuCd,
                                            orderNum:index
                                        }
                                      });
                                }
                            },
                            "Delete": {
                                "label": "Delete",
                                "action": function(obj) {
                                    let tree = $('#'+treeId).jstree(true);

                                    if(node.data.status == 'C') {
                                        tree.delete_node(node);
                                    }
                                    else {
                                        node.data.status = 'D';
                                        tree.set_icon(node, "fa fa-trash");

                                        setContent(node.data);
                                    }
                                }
                            }
                        };
                    },
                    select_node: true,
                    show_at_node: true
                }
            })
            .on('select_node.jstree', function (e, data) {
                let node = data.node;

                let status = node.data.status;
                if(!isEmpty(status) && status == "C") {
                    let tree = data.instance;
                    let parent = tree.get_node(node.parent);
                    setContent({
                        status:status,
                        id:'',
                        menuCd:node.data.menuCd,
                        menuNm:node.data.menuNm,
                        objectCd:'',
                        parentMenuCd:node.data.parentMenuCd,
                        orderNum:parent.children.indexOf(node.id)
                    });
                }
                else {
                    setContent(node.data);
                }
            })
            .on('create_node.jstree', function (e, data) {
                let tree = $('#'+treeId).jstree(true);

                data.node.data.status = "C";
                tree.set_icon(data.node, "fa fa-plus");

                tree.deselect_all(true);
                tree.select_node(data.node);
                tree.edit(data.node);
            })
            .on("rename_node.jstree", function (e, data) {
                let tree = $('#'+treeId).jstree(true);

                if(isEmpty(data.node.data.status)) {
                    data.node.data.status = "U";
                    tree.set_icon(data.node, "fa fa-pen");
                }

                data.node.data.menuNm = data.text;

                setContent(data.node.data);
            })
            .on('delete_node.jstree', function (e, data) {
            })
            .on('move_node.jstree', function(e, data){
                let tree = $('#menu_tree').jstree(true);

                let node = data.node;
                let position = data.position;
                let newParentId = data.parent;
                let newParentNode = tree.get_node(newParentId);

                if(isEmpty(data.node.data.status)) {
                    data.node.data.status = "U";
                    tree.set_icon(data.node, "fa fa-pen");
                }

                data.node.data.orderNum = position;
                data.node.data.parentMenuCd = newParentNode.data.menuCd;

                setContent(data.node.data);
            });

            getList();
        }

        function setCodes(codes) {
            //setCodeBox("type", codes["ObjectType"]);
        }

        function isEmpty(v) {
            return (v == undefined || v == null || v == '');
        }

        function toTree(r) {
            let children = new Array();
            if(!isEmpty(r.children)) {
                for(let i=0; i<r.children.length; i++) {
                    children.push(toTree(r.children[i]));
                }
            }

            return {
                "status":"",
                "text":r.menuNm,
                "children":children,
                "icon":r.icon,
                "data":r
            }
        }

        function getList() {
            httpClient.get(`/console/api/menu/tree`, {},
                function(response){
                    if(!isEmpty(response)) {
                        let nodeData = new Array();
                        for(let i=0; i<response.length; i++) {
                            nodeData.push(toTree(response[i]));
                        }

                        let tree = $('#menu_tree').jstree(true);
                        tree.settings.core.data = nodeData;
                        tree.refresh();
                    }
                },
                function(error){
                    alert('error');
                }
            );
        }

        function save() {
            let status = $("#status").val();
            let id = $("#id").val();

            if(status == "C") {
                insertContent();
            }
            else if(status == "U") {
                updateContent(id);
            }
            else if(status == "D") {
                deleteContent(id);
            }
        }

        function insertContent() {
            httpClient.post(`/console/api/menu`,{},getContent(),
                function(response){
                    alert("저장완료되었습니다.");
                    getList();
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateContent(id) {
          httpClient.put(`/console/api/menu/${id}`, {}, getContent(),
              function(response){
                  alert("저장완료되었습니다.");
                  getList();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteContent() {
          let id = $("#id").val();

          httpClient.delete(`/console/api/menu/${id}`, {},
              function(response){
                  alert("삭제 처리 완료되었습니다.");
                  getList();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function setContentData(response) {
            setContent({
                status:'',
                id:response.id,
                menuCd:response.menuCd,
                menuNm:response.menuNm,
                objectCd:response.objectCd,
                parentMenuCd:response.parentMenuCd,
                icon:response.icon,
                orderNum:response.orderNum
              });
        }

        function getContent() {
            return {
                status: $("#status").val(),
                id: $("#id").val(),
                menuCd: $("#menuCd").val(),
                menuNm: $("#menuNm").val(),
                objectCd: $("#objectCd").val(),
                parentMenuCd: $("#parentMenuCd").val(),
                icon: $("#icon").val(),
                orderNum: $("#orderNum").val()
            }
        }

        function setContent(params) {
            $("#status").val(params.status);
            $("#id").val(params.id);
            $("#menuCd").val(params.menuCd);
            $("#menuNm").val(params.menuNm);
            $("#objectCd").val(params.objectCd);
            $("#parentMenuCd").val(params.parentMenuCd);
            $("#orderNum").val(params.orderNum);
            $("#icon").val(params.icon);
          }

          function newContent(){
            setContent({
                status:'C',
                id:'',
                menuCd:'',
                menuNm:'',
                objectCd:'',
                parentMenuCd:'',
                icon:'',
                orderNum:''
              });
          }
    </script>
<div th:fragment="view">
    <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Menu</h3>
                        <div class="card-tools">
                            <wb-action-button elementId="search" actionName="getList()" icon="fas fa-search"></wb-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="menu_tree"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">상세 내용</h3>
                        <div class="card-tools">
                            <wb-action-button elementId="new" actionName="newContent()" icon="fas fa-plus"></wb-action-button>
                            <wb-action-button elementId="save" actionName="save()" icon="fas fa-save"></wb-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <wb-text-input elementId="status" label="상태" enable="false"></wb-text-input>
                            </div>
                            <div class="col-md-1">
                                <wb-text-input elementId="id" label="ID" enable="false"></wb-text-input>
                            </div>
                            <div class="col-md-3">
                                <wb-text-input elementId="menuCd" label="메뉴코드" enable="true"></wb-text-input>
                            </div>
                            <div class="col-md-3">
                                <wb-text-input elementId="menuNm" label="메뉴명" enable="true" ></wb-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <wb-text-input elementId="parentMenuCd" label="부모메뉴코드" enable="true" ></wb-text-input>
                            </div>
                            <div class="col-md-3">
                                <wb-text-input elementId="objectCd" label="오브젝트코드" enable="true" ></wb-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <wb-text-input elementId="icon" label="아이콘" enable="true"></wb-text-input>
                            </div>
                            <div class="col-md-1">
                                <wb-text-input elementId="orderNum" label="메뉴순서" enable="true"></wb-text-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>