<html xmlns:th="http://www.thymeleaf.org">
<script th:fragment="script">
        $( document ).ready(function() {
            console.log('version.0.0.1');
            init();

            $('#menu_tree').on('select_node.jstree', function (e, data) {
            console.log('data',data);
                let node = data.node;

                let status = node.status;
                if(isEmpty(status)) {
                    selectedContent(node.id);
                }
                else if(status == "C") {
                    alert("생성노드");
                }
            });
        });

        function init() {
            var codes = {
                "ObjectType":[]
            };

            setCodes(codes);

            $('#menu_tree').jstree({
                "core" : {
                    "themes" : {
                        "name" : "default",
                        "responsive": true
                    },
                    "multiple":false,
                    "check_callback":true,
                    "data" : false
                },
                "plugins": ["dnd","contextmenu"],
                "dnd": {
                    "copy": false,
                    "inside_pos": "last",
                    "drag_selection": true,
                    "touch": true
                },
                contextmenu: {
                    items: function(node) {
                        return {
                            "Create": {
                                "label": "Create",
                                "action": function(obj) {
                                    let tree = $('#menu_tree').jstree(true);
                                    let parentMenuCd = node.menuCd;

                                    let newNode = tree.create_node(node, {
                                        "text": "New Menu",
                                        "status":"C",
                                        "menuCd":"",
                                        "menuNm":"New Menu",
                                        "parentMenuCd":parentMenuCd
                                    });

                                    if(newNode) {
                                        tree.edit(newNode);
                                    }
                                }
                            },
                            "Rename": {
                                "label": "Rename",
                                "action": function(obj) { console.log("Rename clicked"); }
                            },
                            "Delete": {
                                "label": "Delete",
                                "action": function(obj) { console.log("Delete clicked"); }
                            }
                        };
                    },
                    select_node: true,
                    show_at_node: true
                }
            });

            getList();
        }

        function setCodes(codes) {
            //setCodeBox("type", codes["ObjectType"]);
        }

        function isEmpty(v) {
            return (v == undefined || v == null || v == '');
        }

        function getList() {
            httpClient.get(`/console/api/menu/tree`, {},
                function(response){
                    if(!isEmpty(response)) {
                        for(let i=0; i<response.length; i++) {
                            response[i].text = response[i].menuNm;
                        }

                        let tree = $('#menu_tree').jstree(true);
                        tree.settings.core.data = response;
                        tree.refresh();
                    }
                },
                function(error){
                    alert('error');
                }
            );
        }

        function selectedContent(id) {
            httpClient.get(`/console/api/menu/${id}`, {},
                function(response){
                    setContentData(response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function save() {
            let id = $("#id").val();

            if(isEmpty(id))
                insertContent();
            else
                updateContent(id);
        }

        function insertContent() {
            httpClient.post(`/console/api/menu`,{},getContent(),
                function(response){
                    alert("저장완료되었습니다.");
                    getList();
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateContent(id) {
          httpClient.put(`/console/api/menu/${id}`, {}, getContent(),
              function(response){
                  alert("저장완료되었습니다.");
                  getList();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteContent() {
          let id = $("#id").val();

          httpClient.delete(`/console/api/menu/${id}`, {},
              function(response){
                  alert("삭제 처리 완료되었습니다.");
                  getList();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function setContentData(response) {
            setContent({
                id:response.id,
                menuCd:response.menuCd,
                menuNm:response.menuNm,
                objectCd:response.objectCd,
                parentMenuCd:response.parentMenuCd,
                orderNum:response.orderNum
              });
        }

        function getContent() {
            return {
                id: $("#id").val(),
                menuCd: $("#menuCd").val(),
                menuNm: $("#menuNm").val(),
                objectCd: $("#objectCd").val(),
                parentMenuCd: $("#parentMenuCd").val(),
                orderNum: $("#orderNum").val()
            }
        }

        function setContent(params) {
            $("#id").val(params.id);
            $("#menuCd").val(params.menuCd);
            $("#menuNm").val(params.menuNm);
            $("#objectCd").val(params.objectCd);
            $("#parentMenuCd").val(params.parentMenuCd);
            $("#orderNum").val(params.orderNum);
          }

          function newContent(){
            setContent({
                id:'',
                menuCd:'',
                menuNm:'',
                objectCd:'',
                parentMenuCd:'',
                orderNum:''
              });
          }
    </script>
<div th:fragment="view">
    <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Menu</h3>
                        <div class="card-tools">
                            <wb-action-button elementId="search" actionName="getList()" icon="fas fa-search"></wb-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="menu_tree"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">상세 내용</h3>
                        <div class="card-tools">
                            <wb-action-button elementId="new" actionName="newContent()" icon="fas fa-plus"></wb-action-button>
                            <wb-action-button elementId="save" actionName="save()" icon="fas fa-save"></wb-action-button>
                            <wb-action-button elementId="delete" actionName="deleteContent()" icon="fas fa-trash"></wb-action-button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <wb-text-input elementId="id" label="ID" enable="false"></wb-text-input>
                            </div>
                            <div class="col-md-3">
                                <wb-text-input elementId="menuCd" label="메뉴코드" enable="true"></wb-text-input>
                            </div>
                            <div class="col-md-3">
                                <wb-text-input elementId="menuNm" label="메뉴명" enable="true" ></wb-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <wb-text-input elementId="parentMenuCd" label="부모메뉴코드" enable="true" ></wb-text-input>
                            </div>
                            <div class="col-md-3">
                                <wb-text-input elementId="objectCd" label="오브젝트코드" enable="true" ></wb-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <wb-text-input elementId="orderNum" label="메뉴순서" enable="true"></wb-text-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>