<html xmlns:th="http://www.thymeleaf.org">
<script th:fragment="script">

        $( document ).ready(function() {
            init();
        });

        function init() {
            let codes = {
                "FunctionType":[
                    {id:"ENTITY",name:"Entity"},
                    {id:"SQL",name:"SQL"},
                    {id:"REST_CLIENT",name:"Rest Client"}
                ]
            };

            sheet.initSheet('jsGrid1', "100%","600px",
            [
                {name: "id", title:"ID", type: "number", width: 50 },
                {name: "serviceName", title:"service", type: "text", width: 150 },
                {name: "displayName", title:"화면노출명", type: "text", width: 200 }
            ],
            function(args) {
                selectedContent(args.item);
                $("#validServiceName").val(args.item.serviceName);
                sheet.setSheetData('serviceExecute', [{"key":"_seq","value":"1"},{"key":"_status","value":"R"}]);
            });

            sheet.initSheet('serviceFunctionGrid', "100%","500px",
            [
                {name: "id", title:"ID", type: "number", width: 20, editing: false, inserting: false},
                {name: "functionType", title:"type", type: "select", width: 50, items: codes["FunctionType"], valueField: "id", textField: "name" },
                {name: "functionName", title:"function", type: "text", width: 100},
                {name: "requestMessageId", title:"요청메시지ID", type: "text", width: 100},
                {name: "responseMessageId", title:"응답메시지ID", type: "text", width: 100},
                {name: "isLogging", title:"로깅", type: "checkbox", width: 50},
                {name: "orderNum", title:"순서", type: "number", width: 30},
                { type: "control", editButton: true, width: 30, modeSwitchButton: false }
            ],
            function(args) {},
            {
                inserting: true,
                editing: true,
                onItemInserting: function(args) {
                    insertServiceFunction($("#id").val(), args.item);
                },
                onItemUpdated: function(args) {
                    updateServiceFunction($("#id").val(),args.item);
                },
                onItemDeleting: function(args) {
                    deleteServiceFunction($("#id").val(), args.item);
                }
            });

            sheet.initSheet('serviceExecute', "300px","300px",
            [
                {name: "key", title:"key", type: "text", width: 100},
                {name: "value", title:"value", type: "text", width: 100},
                { type: "control", editButton: false, width: 30, modeSwitchButton: false }
            ],
            function(args) {},
            {
                inserting: true,
                editing: true,
                onItemInserting: function(args) {
                },
                onItemUpdated: function(args) {
                },
                onItemDeleting: function(args) {
                }
            });

            getService();
        }

        function save() {
            let id = $("#id").val();

            if(isEmpty(id))
                insertContent();
            else
                updateContent(id);
        }

        function getService() {
            httpClient.get(`/console/api/service`, {},
                function(response){
                    sheet.setSheetData('jsGrid1', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function selectedContent(item) {
            httpClient.get(`/console/api/service/${item.id}`, {},
                function(response){
                    setContentData(response);
                    getServiceFunction(item.id);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function insertContent() {
            httpClient.post(`/console/api/service`,{},getContent(),
                function(response){
                    alert("저장완료되었습니다.");
                    getService();
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateContent(id) {
          httpClient.put(`/console/api/service/${id}`, {}, getContent(),
              function(response){
                  alert("저장완료되었습니다.");
                  getService();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteContent() {
          let id = $("#id").val();

          httpClient.delete(`/console/api/service/${id}`, {},
              function(response){
                  alert("삭제 처리 완료되었습니다.");
                  getService();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function setContentData(response) {
            setContent({
                id:response.id,
                serviceName:response.serviceName,
                displayName:response.displayName,
                note:response.note
              });
        }

        function getContent() {
            return {
                id: $("#id").val(),
                serviceName: $("#serviceName").val(),
                displayName: $("#displayName").val(),
                note: $("#note").val()
            }
        }

        function setContent(params) {
            $("#id").val(params.id);
            $("#serviceName").val(params.serviceName);
            $("#displayName").val(params.displayName);
            $("#note").val(params.note);
          }

          function newContent(){
            setContent({
                id:'',
                serviceName:'',
                displayName:'',
                note:'',
                });
          }

        function getServiceFunction(serviceId) {
            httpClient.get(`/console/api/service-function/${serviceId}`, {},
                function(response){
                    sheet.setSheetData('serviceFunctionGrid', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function insertServiceFunction(serviceId, item) {
            httpClient.post(`/console/api/service-function`,{},
                {
                   serviceId:serviceId,
                   functionName:item.functionName,
                   functionType:item.functionType,
                   orderNum:item.orderNum,
                   isLogging:item.isLogging,
                   requestMessageId:item.requestMessageId,
                   responseMessageId:item.responseMessageId
                },
                function(response){
                    alert("생성 완료되었습니다.");
                    getServiceFunction(serviceId);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateServiceFunction(serviceId, item) {
          httpClient.put(`/console/api/service-function/${item.id}`, {},
              {
                   serviceId:serviceId,
                   functionName:item.functionName,
                   functionType:item.functionType,
                   orderNum:item.orderNum,
                   isLogging:item.isLogging,
                   requestMessageId:item.requestMessageId,
                   responseMessageId:item.responseMessageId
              },
              function(response){
                  alert("변경 완료되었습니다.");
                  getServiceFunction(serviceId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteServiceFunction(serviceId, item) {
          httpClient.delete(`/console/api/service-function/${item.id}`, {},
              function(response){
                  alert("삭제 완료되었습니다.");
                  getServiceFunction(serviceId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function execute() {
            let serviceName = $("#validServiceName").val();
            let requestMessageId = $("#requestMessageId").val();

            let contents = {};
            let gridData = sheet.getSheetData("serviceExecute");
            console.log('gridData',gridData);
            for(let i=0; i<gridData.length; i++) {
                let value = gridData[i]["value"];
                if(value == "null") {
                    contents[gridData[i]["key"]] = null;
                }
                else {
                    contents[gridData[i]["key"]] = value;
                }
            }

            let body = {};
            body[requestMessageId] = contents;
            console.log('body',body);

            httpClient.post(`/service/${serviceName}`,{},
                {
                   body:body
                },
                function(response){
                    $("#responseData").val(JSON.stringify(response,null,3));
                },
                function(error){
                    alert('error');
                }
            );
        }
    </script>
<div th:fragment="view">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Service</h3>
                    <wb-action-button elementId="search" actionName="getService()" icon="fas fa-search"></wb-action-button>
                </div>
                <div class="card-body">
                    <div id="jsGrid1"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <ul class="nav nav-tabs" id="service-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="service-detail-tab" data-toggle="pill" href="#service-detail" role="tab" aria-controls="service-detail" aria-selected="true">상세내용</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="service-valid-tab" data-toggle="pill" href="#service-valid" role="tab" aria-controls="service-valid" aria-selected="false">실행</a>
                    </li>
                </ul>
                <div class="tab-content" id="service-tabContent">
                    <div class="tab-pane fade show active" id="service-detail" role="tabpanel" aria-labelledby="service-detail-tab">
                        <div class="card-header">
                            <h3 class="card-title">상세 내용</h3>
                            <wb-action-button elementId="new" actionName="newContent()" icon="fas fa-plus"></wb-action-button>
                            <wb-action-button elementId="save" actionName="save()" icon="fas fa-save"></wb-action-button>
                            <wb-action-button elementId="delete" actionName="deleteContent()" icon="fas fa-trash"></wb-action-button>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <wb-text-input elementId="id" label="ID" enable="false"></wb-text-input>
                                </div>
                                <div class="col-md-3">
                                    <wb-text-input elementId="serviceName" label="service" enable="true"></wb-text-input>
                                </div>
                                <div class="col-md-3">
                                    <wb-text-input elementId="displayName" label="화면 노출명" enable="true" ></wb-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <wb-text-input elementId="note" label="note" enable="true"></wb-text-input>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="serviceFunctionGrid"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="service-valid" role="tabpanel" aria-labelledby="service-valid-tab">
                        <div class="card-header">
                            <h3 class="card-title">실행</h3>
                            <wb-action-button elementId="save" actionName="execute()" icon="fas fa-check"></wb-action-button>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <wb-text-input elementId="validServiceName" label="service" enable="true"></wb-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <wb-text-input elementId="requestMessageId" label="요청메시지ID" enable="true" ></wb-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div id="serviceExecute"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>응답 데이터</label>
                                        <textarea id="responseData"  rows="20" cols="100"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>