<html xmlns:th="http://www.thymeleaf.org">
<script th:fragment="script">

        $( document ).ready(function() {
            init();
        });

        function init() {
            let codes = {
                "FunctionType":[
                    {id:"ENTITY",name:"Entity"},
                    {id:"SQL",name:"SQL"},
                    {id:"REST_CLIENT",name:"Rest Client"}
                ]
            };

            sheet.initSheet('jsGrid1', "100%","600px",
            [
                {name: "id", title:"ID", type: "number", width: 50 },
                {name: "flowCode", title:"workflow", type: "text", width: 150 },
                {name: "displayName", title:"화면노출명", type: "text", width: 200 }
            ],
            function(args) {
                selectedContent(args.item);
                $("#validFlowCode").val(args.item.flowCode);
                sheet.setSheetData('workflowExecute', [{"key":"_seq","value":"1"},{"key":"_status","value":"R"}]);
            });

            sheet.initSheet('workflowFunctionGrid', "100%","500px",
            [
                {name: "id", title:"ID", type: "number", width: 20, editing: false, inserting: false},
                {name: "functionType", title:"type", type: "select", width: 50, items: codes["FunctionType"], valueField: "id", textField: "name" },
                {name: "functionName", title:"function", type: "text", width: 100},
                {name: "requestMessageId", title:"요청메시지ID", type: "text", width: 100},
                {name: "responseMessageId", title:"응답메시지ID", type: "text", width: 100},
                {name: "isLogging", title:"로깅", type: "checkbox", width: 50},
                {name: "orderNum", title:"순서", type: "number", width: 30},
                { type: "control", editButton: true, width: 30, modeSwitchButton: false }
            ],
            function(args) {},
            {
                inserting: true,
                editing: true,
                onItemInserting: function(args) {
                    insertWorkflowFunction($("#id").val(), args.item);
                },
                onItemUpdated: function(args) {
                    updateWorkflowFunction($("#id").val(),args.item);
                },
                onItemDeleting: function(args) {
                    deleteWorkflowFunction($("#id").val(), args.item);
                }
            });

            sheet.initSheet('workflowExecute', "300px","300px",
            [
                {name: "key", title:"key", type: "text", width: 100},
                {name: "value", title:"value", type: "text", width: 100},
                { type: "control", editButton: false, width: 30, modeSwitchButton: false }
            ],
            function(args) {},
            {
                inserting: true,
                editing: true,
                onItemInserting: function(args) {
                },
                onItemUpdated: function(args) {
                },
                onItemDeleting: function(args) {
                }
            });

            getWorkflow();
        }

        function save() {
            let id = $("#id").val();

            if(isEmpty(id))
                insertContent();
            else
                updateContent(id);
        }

        function getWorkflow() {
            httpClient.get(`/console/api/workflow`, {},
                function(response){
                    sheet.setSheetData('jsGrid1', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function selectedContent(item) {
            httpClient.get(`/console/api/workflow/${item.id}`, {},
                function(response){
                    setContentData(response);
                    getWorkflowFunction(item.id);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function insertContent() {
            httpClient.post(`/console/api/workflow`,{},getContent(),
                function(response){
                    alert("저장완료되었습니다.");
                    getWorkflow();
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateContent(id) {
          httpClient.put(`/console/api/workflow/${id}`, {}, getContent(),
              function(response){
                  alert("저장완료되었습니다.");
                  getWorkflow();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteContent() {
          let id = $("#id").val();

          httpClient.delete(`/console/api/workflow/${id}`, {},
              function(response){
                  alert("삭제 처리 완료되었습니다.");
                  getWorkflow();
              },
              function(error){
                  alert('error');
              }
          );
        }

        function setContentData(response) {
            setContent({
                id:response.id,
                flowCode:response.flowCode,
                displayName:response.displayName,
                note:response.note
              });
        }

        function getContent() {
            return {
                id: $("#id").val(),
                flowCode: $("#flowCode").val(),
                displayName: $("#displayName").val(),
                note: $("#note").val()
            }
        }

        function setContent(params) {
            $("#id").val(params.id);
            $("#flowCode").val(params.flowCode);
            $("#displayName").val(params.displayName);
            $("#note").val(params.note);
          }

          function newContent(){
            setContent({
                id:'',
                flowCode:'',
                displayName:'',
                note:'',
                });
          }

        function getWorkflowFunction(workflowId) {
            httpClient.get(`/console/api/workflow-function/${workflowId}`, {},
                function(response){
                    sheet.setSheetData('workflowFunctionGrid', response);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function insertWorkflowFunction(workflowId, item) {
            httpClient.post(`/console/api/workflow-function`,{},
                {
                   workflowId:workflowId,
                   functionName:item.functionName,
                   functionType:item.functionType,
                   orderNum:item.orderNum,
                   isLogging:item.isLogging,
                   requestMessageId:item.requestMessageId,
                   responseMessageId:item.responseMessageId
                },
                function(response){
                    alert("생성 완료되었습니다.");
                    getWorkflowFunction(workflowId);
                },
                function(error){
                    alert('error');
                }
            );
        }

        function updateWorkflowFunction(workflowId, item) {
          httpClient.put(`/console/api/workflow-function/${item.id}`, {},
              {
                   workflowId:workflowId,
                   functionName:item.functionName,
                   functionType:item.functionType,
                   orderNum:item.orderNum,
                   isLogging:item.isLogging,
                   requestMessageId:item.requestMessageId,
                   responseMessageId:item.responseMessageId
              },
              function(response){
                  alert("변경 완료되었습니다.");
                  getWorkflowFunction(workflowId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function deleteWorkflowFunction(workflowId, item) {
          httpClient.delete(`/console/api/workflow-function/${item.id}`, {},
              function(response){
                  alert("삭제 완료되었습니다.");
                  getWorkflowFunction(workflowId);
              },
              function(error){
                  alert('error');
              }
          );
        }

        function execute() {
            let flowCode = $("#validFlowCode").val();
            let requestMessageId = $("#requestMessageId").val();

            let contents = {};
            let gridData = sheet.getSheetData("workflowExecute");
            console.log('gridData',gridData);
            for(let i=0; i<gridData.length; i++) {
                let value = gridData[i]["value"];
                if(value == "null") {
                    contents[gridData[i]["key"]] = null;
                }
                else {
                    contents[gridData[i]["key"]] = value;
                }
            }

            let body = {};
            body[requestMessageId] = contents;
            console.log('body',body);

            httpClient.post(`/workflow/${flowCode}`,{},
                {
                   body:body
                },
                function(response){
                    $("#responseData").val(JSON.stringify(response,null,3));
                },
                function(error){
                    alert('error');
                }
            );
        }
    </script>
<div th:fragment="view">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Workflow</h3>
                    <div class="card-tools">
                        <wb-action-button elementId="search" actionName="getWorkflow()" icon="fas fa-search"></wb-action-button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="jsGrid1"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <ul class="nav nav-tabs" id="workflow-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="workflow-detail-tab" data-toggle="pill" href="#workflow-detail" role="tab" aria-controls="workflow-detail" aria-selected="true">상세내용</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="workflow-valid-tab" data-toggle="pill" href="#workflow-valid" role="tab" aria-controls="workflow-valid" aria-selected="false">실행</a>
                    </li>
                </ul>
                <div class="tab-content" id="workflow-tabContent">
                    <div class="tab-pane fade show active" id="workflow-detail" role="tabpanel" aria-labelledby="workflow-detail-tab">
                        <div class="card-header">
                            <h3 class="card-title">상세 내용</h3>
                            <div class="card-tools">
                                <wb-action-button elementId="new" actionName="newContent()" icon="fas fa-plus"></wb-action-button>
                                <wb-action-button elementId="save" actionName="save()" icon="fas fa-save"></wb-action-button>
                                <wb-action-button elementId="delete" actionName="deleteContent()" icon="fas fa-trash"></wb-action-button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <wb-text-input elementId="id" label="ID" enable="false"></wb-text-input>
                                </div>
                                <div class="col-md-3">
                                    <wb-text-input elementId="flowCode" label="workflow" enable="true"></wb-text-input>
                                </div>
                                <div class="col-md-3">
                                    <wb-text-input elementId="displayName" label="화면 노출명" enable="true" ></wb-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <wb-text-input elementId="note" label="note" enable="true"></wb-text-input>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="workflowFunctionGrid"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="workflow-valid" role="tabpanel" aria-labelledby="workflow-valid-tab">
                        <div class="card-header">
                            <h3 class="card-title">실행</h3>
                            <div class="card-tools">
                                <wb-action-button elementId="execute" actionName="execute()" icon="fas fa-check"></wb-action-button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <wb-text-input elementId="validFlowCode" label="workflow" enable="true"></wb-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <wb-text-input elementId="requestMessageId" label="요청메시지ID" enable="true" ></wb-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div id="workflowExecute"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>응답 데이터</label>
                                        <textarea id="responseData"  rows="20" cols="100"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>